In [ ]:
'''
while ('test condition'):
    <<<<
    
    Body of loop
    
    >>>>

Second type of loop  'for' loop.

'''

In [ ]:
'''
WAP to find whether the given number is palindorme or not?
take the int input from the user

eg: 12321
reverse this number : 12321

'''

In [ ]:
x=12321

In [ ]:
x%10

In [ ]:
x=x//10

In [ ]:
x%10

In [ ]:
l=[86,74,85,68,38,95,12,74,65,73,87]

In [ ]:
m=l[0]
for i in l:
    if m > i : 
        m=i

In [ ]:
print("Who is president of USA?")

In [ ]:
flag='souleymane'
count=0
while (flag=='souleymane'):
    ans=input()
    count+=1
    if ans=='biden':
        flag='Ouedraogo'
        print('Correct')
        print(f'You have taken {count} attempts.')
    else:
        print('Try Again')

In [ ]:
#0,1,2,3,4 sequence

In [ ]:
for i in range(11):
    print(i)

In [ ]:
n=0
while (n<11):
    print(n)
    n=n+1

In [ ]:
range (start, end, step)

In [ ]:
for i in range(5):   #0,1,2,3,4 (n-1)
    print(i)

In [ ]:
for i in range(5): 
    print('Hello World!')

In [ ]:
for i in range(10):
    print(i, 'Hello world')
    print('$$$$$$$')
    
print('End of for loop')

In [ ]:
#0,1,2,3,4,5,6,7,8,9

In [ ]:
for i in range(10): 
    if i%2==0:
        print(i, 'Hello India')
    else:
        print(i, 'Hello World!')

In [ ]:
n=int(input('Enter the num: ')) #7
s=0
for i in range(n+1): #range(7+1): 0,1,2,3,4,5,6,7
    s=s+i  
print(s)

In [ ]:
'''

take the input from the user, return the sum of the numbers upto the input value
i/p : 7

ans=0+1+2+3+4+5+6+7
ans=28

range(n+1)

n=5
0,1,2,3,4,5

1: ans=0+0=0
2: ans=0+1=1
3: ans=1+2=3
4: ans=3+3=6
5: ans=6+4=10


'''

In [ ]:
#whole number 0---9
#Natural numbers 1---10
#first 10 even numbers... 0,2,4,6,...18

In [ ]:
for i in range(1,10,2):
    print(i)

In [ ]:
'''
1.5
2
2.5
3
3.5
4
4.5
5



'''

In [ ]:
# first 10 natural numbers
# range(Start: default value is 0 , End: mandatory parameter, Step_Size: default value is 1)

for i in range(5, 11, 1):  #### 1,3,5,7,9
#     print(i/2)
    print(i)

In [ ]:
for i in range(2, 5, 1):
    print(i)

In [ ]:
0+1+2+3+4+5

In [ ]:
n=int(input()) #5

ans=0
for i in range(n+1): #0 1 2 3 4 
    ans=ans+i
    #ans=3
    
print('The answer is: ', ans)

In [ ]:
print(f"2 x {i} = {2*i}")

In [ ]:
print("2 x 1 = 2")
print("2 x 2 = 4")
print("2 x 3 = 6")
print("2 x 4 = 8")
print("2 x 5 = 10")
print("2 x 6 = 12")
print("2 x 7 = 14")
print("2 x 8 = 16")
print("2 x 9 = 18")
print("2 x 10 = 20")

In [ ]:
for i in range(11):
    print(f'2 x {i} = {i*2}')

In [ ]:
#range(start, end)
tab = int(input("Enter the number: "))
for i in range(1,11):
    print(f'{tab} x {i} = {i*tab}')

In [ ]:
for i in range(9, 10):
    print(i)

In [ ]:
for i in range(0, 51, 5):
    print(i)

In [ ]:
'''
range(start, end, step_size)

start=0 (Default paramenter, and default value is 0, not a mandatory parameter)

end=user_given (mandatory parameter given by programmer) (n-1)

step_size=1 ((Default paramenter, and default value is 1, not a mandatory paramenter))


range(0, 5, 1) == range(5)
0,1,2,3,4
range(1, 5)
1,2,3,4

range(1, 11)
1 2 3 4 5 6 7 8 9 10
'''

In [ ]:
for i in range(1,11):
    print(i)

In [ ]:
for i in range(1,20,2):
    print(i)

In [ ]:
for i in range(1,5,1):
    print(i)

In [ ]:
'''
range(start, end, step_size)

Q1: WAP to print the following:

1: First 10 even numbers.   0,2,4,6....18
2: First 10 odd numbers.    1,3,5,7...19
3: first 10 natural numbers   1-10
4: first 10 whole number 0-9

using for loop and you have to just print the value of i. print(i)

'''

In [ ]:
# First 10 even numbers.

for i in range(0,19,2):
    print(i)

In [ ]:
# First 10 odd numbers.

for i in range(1,20,2):
    print(i)

In [ ]:
# First 10 natural numbers.

for i in range(1,11,1):
    print(i)

In [ ]:
# First 10 whole numbers.

for i in range(0,10,1):
    print(i)

In [ ]:
#take a int input from the user and print the multiplication table upto 10 of that input

In [ ]:
n=int(input('enter the number')) 
for i in range(n,n*11,n): 
    print(i)

In [ ]:
#Print the value from 10 to 1 using for loop

In [ ]:
"""
1,2,3,4,5,6,7,8,9,10

10,9,8,7,6,5,4,3,2,1

"""

In [ ]:
for i in range(10,2,-1):
    print(i)

In [ ]:
#Print the value from 10 to 1 using for loop


for i in range(10,0,-1):
    print(i)

In [ ]:
#Print the value from 50 to -50 using for loop but step size should be 25

In [ ]:

for i in range(50,-1,-5):
    print(i)

In [ ]:
# 10----1

In [ ]:
n=10
while n>0:
    print(n)
    n=n-1

In [ ]:
for i in range(10, 6, -1): #step size is negative so we will get n+1
    print(i)

In [ ]:
for i in range(1,10,2): #step size is negative so we will get n+1
    print(i)

In [ ]:
'''

step size is positive. end(n)----> n-1    50, n=51

step size is negative. end(n)----> n+1    50, n+1=50  ... n=?

1: range(1,11,2)

2: range(100,49, -1)     

3: range(10,-1,-1)
'''

In [2]:
for i in range(10, 5, -1):
    print(i)

10
9
8
7
6

In [1]:
for i in range(0, 5, 1):
    print(i)

0
1
2
3
4

In [3]:
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

In [ ]:
"""
100, 99, 98 ---> 50

"""

In [4]:
for i in range(100,49,-2):
    print(i)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50

In [ ]:
500---100   step 25

In [ ]:
for i in range(500,99,-25):
    print(i)

In [ ]:
10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range():
    print(i)

In [ ]:
# 9,8,7,6,5...0

In [ ]:
a=int(input(("enter the number")))
for i in range(1,11,1):
    print(a,"*",i,"=",a*i)

In [ ]:
for i in range(10, 0, -1): #10, 9, 8,7,6,5,4,3,2,1
    print(i)

In [ ]:
for i in range(10,0,-1): 
    print('2 x ',i, '=',2*i)

In [ ]:
n=2
i=10
for n in range(n*10,n-1,-n):
    print(2,"*",i,"=",n,)
    i=i-1

In [ ]:
for i in range(10, 0, -1): #1 2 3 4 5 6 7 8 9 10
    print('2 x ',i, '=',2*i)

In [ ]:
for i in range(1, 11): #1 2 3 4 5 6 7 8 9 10
    print('3 x ',i, '=',3*i)

In [ ]:
for i in range(3,31,3):
    print(i)

In [ ]:
for i in range(0, 30, 3):
    print(i)

In [ ]:
for i in range(3, 30, 3):
    print(i)

In [ ]:
#I want the number should have 3 gap

In [ ]:
for i in range(9, -1, -1):
    print(i)

In [ ]:
for i in range(10, 0, -1): #1 2 3 4 5 6 7 8 9 10
    print('2 x ',i, '=',2*i)

In [ ]:
country="United States of America"

for i in country:
    print(i)

In [ ]:
x='United States of America'

In [ ]:
len(x)

In [ ]:
country="India"

print(country[0])
print(country[1])
print(country[2])
print(country[3])
print(country[4])

In [ ]:
#n-1

In [ ]:
for i in range(1, 20, 2):
    print(i)

In [ ]:
'''

'''

In [ ]:
for i in range(1, 11):
    print('5 x ',i, '=',5*i)

In [ ]:
'''
Q1: WAP to print the following:

1: First 10 even numbers.
2: First 10 odd numbers.
3: first 10 natural numbers (1,2,3,....)
4: first 10 whole number (0,1,2,3....)


Real number (-inf .... 0 .... +inf)


'''

In [7]:
for i in range(1,19,2):
    print(i)

1
3
5
7
9
11
13
15
17

In [ ]:
for i in range(1,20,2):
    print(i)

In [ ]:
#even 
for i in range(1,11):
    print(i)

In [ ]:
#First 10 even numbers.

for i in range(0,20,2):
    print(i)

In [ ]:
#First 10 odd numbers. 1,3,5,7,9,11,13,15,17,19
for i in range(1,20,2):
    print(i)

In [ ]:
#first 10 natural numbers
for i in range(1,11,1):
    print(i)

In [ ]:
#first 10 whole numbers
for i in range(0,10,1):
    print(i)

In [ ]:
#first 10 even numbers, Condition: Step_size=1

for i in range(0, 20, 1):
    if i%2==0:
        print(i)

In [ ]:
for i in range(0,20):                             
    if (i%2==0):
        print(i)

In [ ]:
#first 10 odd numbers

for i in range(1, 20, 2):
    print(i)

In [ ]:
#first 10 natural numbers

for i in range(1,11):
    print(i)

In [ ]:
#first 10 whole numbers

for i in range(0,10):
    print(i)

In [ ]:
'''
1:WAP to print  first 10 positive integers and their square

1 1
2 4
3 9
....10 100

2: print it in reverse order:

10 100
9  81
8  64
.
.
.
1 1
'''

In [9]:
for i in range (10,0,-1):
    print(i,i*i)

10 100
9 81
8 64
7 49
6 36
5 25
4 16
3 9
2 4
1 1

In [ ]:
for i in range(10, 0 , -1): #n=0
    print(i, i*i)

In [ ]:
for i in range(1,11):
    print(i, i*i )

In [ ]:
'''
take a input from the user for series length.
WAP to print a series:
5
o/p: 10, 20, 30, 40,50
'''

In [11]:
n=int(input())
for i in range(10,n*10+1,10):
    print(i, end=",")

5
10,20,30,40,50,

In [13]:
n=int(input())
for i in range(1,n+1,1):
    print(i*10, end=",")

6
10,20,30,40,50,60,

In [ ]:
n=int(input("Enter the length: "))
for i in range(1, n+1, 1):
    print(i*10, end=",")
    
print("end of loop")
print("thanks")

In [ ]:
n=int(input('enter num'))
for i in range(1,n+1):
    print(10*i ,end=",")

In [ ]:
n=int(input("Enter No."))
for i in range(10,n*11,10):
    print (i, end=",")

In [ ]:
#6,5,4,3,2,1

for i in range(6,0,-1):
    print(i)

In [ ]:
num=int(input('Enter the length of series'))

for i in range(num,0,-1):
    print(i*10,end=',')

In [ ]:
n = int(input("enter the number: "))

for i in range(1, n+1, 1):
    print(10*i ,end=',')

In [ ]:
n=int(input())
for i in range (10,n*11,10):
    print(i,end=',')

In [ ]:
n=8
8*2=16

10
10*2=20

range(1,n*2,2)

In [ ]:
# I want n element of  this series but the common difference should be 20
#take n fromm user 5
# 10, 30, 50, 70, 90,

#10*1, 10*3, 10*5...

'''


'''

In [ ]:
n=int(input("enter the len: "))
for i in range(1, n*2, 2):
    print(i*10)

In [ ]:
length=int(input("enter length of series"))
for i in range(10,length*20,20) :
    print(i, end=",")

In [ ]:
n=int(input("Enter th length of the series:"))
for i in range(10,(n*20) ,20):
    print(i, end=",")

In [ ]:
n=int(input('enter the length of the series:')) #n=5
for i in range(1,n*2,2): #range(1,10,2)---> 1,3,5,7,9
    print(10*i,end=',')

In [ ]:
num=int(input('Enter the len of series:'))
for i in range(1, num*2, 2):
    print(10*i, end=",")

In [ ]:
# print first 10 odd numbers

for i in range(1, 20, 2):
    print(i)

In [ ]:
# 5 odd number 
for i in range(1, 10, 2):
    print(i)

In [ ]:
n= int(input())
for i in range(1, n*2, 2):
    print(i)

In [14]:
n=int(input())
for i in range(20, 20-n, -1 ):
    print(i*5, end=",")

6
100,95,90,85,80,75,

In [ ]:
n=int(input())
for i in range():
    print(i*5, end=",")

In [16]:
for i in range(100,95,-1):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
'''
take a input from the user for series length.
WAP to print a series:
6:
o/p: 100, 95, 90, 85,80, 75... 





'''

In [ ]:
n=int(input("Enter the len: ")) #n=6
for i in range(20,20-n, -1):
    print(i*5)

In [ ]:
n=int(input("Enter the len: "))
for i in range(n):
    print(100 - (5*i))

In [ ]:
n=int(input('Input a number:'))
for i in range (100,100-(n*5),-5):
    print (i, end=', ')

In [ ]:
num=int(input('Enter the number'))
for i in range(0, num, 1):
    print(100-i*5,end=',')

In [ ]:
num=int(input("enter number of serious : "))
for i in range (100,100-5*num,-5): #range(100, 100-25=75, -5)
    print(i,end=",")

In [ ]:
length = int(input())
number = 105
for i in range(length):
    number = number - 5
    print(number, end=",")

In [ ]:
n=int(input()) #n=5

for i in range(20,20-n,-1): #range(20, 15, -1)---> 20,19,18,17,16
    print(5*i, end=',')

In [ ]:

for i in range(20,15,-1): #20,19,18,17,16
    print(5*i, end=',')

In [ ]:
#step +1, end=n-1
#step -1, end=n+1

In [ ]:
num=int(input('Enter the len of series:'))
a=5
for i in range(20, 20-num, -1):
    #print(i)
    print(a*i, end=",")

In [ ]:
# 100, 92, 84, 76, 68....

In [ ]:
# 5 elements of this series.

In [ ]:
num=int(input())

for i in range():
    print()

In [ ]:
birth_year=int(input())

current_year=2023
age=current_year - birth_year
print("Age of the person: ", age)

In [ ]:
birth_year=int(input('enter birth year:'))
present_year=2023
age=present_year-birth_year
print(age)

In [ ]:
birth_year=int(input('enter birth year:'))
present_year=2023
age=birth_year-present_year
print(age)

In [ ]:
# 4*25, 4*23, 4*21, 4*19...

In [ ]:
# 25, 23, 21, 19,.....

In [ ]:
# print first 10 natural number in reverse

In [ ]:
n=int(input())
for i in range(25, 25-(num*2), -2):
    print(i)

In [ ]:
num=int(input('Enter the series:'))
a=100
for i in range(100,100-(num*8),-8): 
    print(i,end=",")

In [ ]:
n=10
for i in range(100,100-(num*20),-8):
    print(i)

In [ ]:
1,2,3,4,5

In [ ]:
'''
WAP to compute factorial of a number. take the input from the user. 

5! 

factorial is not defined for negative integers


5*4*3*2*1 = 120
6*5*4*3*2*1 = 720


'''

In [ ]:
n=int(input("Enter the number: ")) #5
if n>=0:
    f=1
    for i in range(n,0,-1): #5,4,3,2,1
        f=f*i
    print(f)
else:
    print("Invalid input")

In [ ]:
num=int(input())
if num>0:
    fact=1
    for i in range(num,0,-1):
        fact=fact*i
    print(fact)
else:
    print("Factorial is not defined for a negative integer")

In [ ]:
num=int(input())
f=1
if (num <= 0):
    print('Invalid Input')
else:
    for i in range(1, num+1):
        f=f*i

    print('Factorial= ',f)

In [ ]:
5!= 5x4x3x2x1= 120

1x2x3x4x5=120

In [ ]:
num=(int(input()))
f=1
for i in range(1,num+1):
    f=f*i
print('Factorial=',f)

In [ ]:
1234

In [ ]:
n=int(input("enter No.  "))
f=1
for i in range(n%10+1, 0):
    f=f*i
    n=n//10
print (i)

In [ ]:
x=124587

l=len(str(x))
m=1
for i in range(l):

In [ ]:
'''

WAP to get the product of each digit given by user.

i/p: 1234
o/p: 1*2*3*4=24


541
5*4*1=20

m=1

m=m*r


1234 % 10 = 4
1234 // 10 = 123

123 % 10= 3
123//10=12


iter=1
r=4
p=1*4=4
num=123

iter=2
r=3
p=4*3=12
num=12

iter=3
r=2
p=12*2=24
num=1

iter=4
r=1
p=24*1=24
num=0



'''

In [ ]:
x=1234
x=str(x)
l=len(x)
l

In [ ]:
n=int(input('Enter the number: ')) #1234

l=len(str(n))
prod=1
for i in range(l):
    rem=n%10
    prod=prod*rem
    n=n//10
print(prod)

In [ ]:
x=-1234

len(str(x))

In [ ]:
n=int(input("enter number: "))

flag=False

if n<0:
    n=n*(-1)
    flag=True
    l=len(str(n))-1
else:
    l=len(str(n))

p=1
for i in range(0,l): #1234------ l=4
    rem=n%10
    p=rem*p
    n=n//10
if flag==True:
    print(-p)
else:
    print(p)

In [ ]:
num=int(input('Enter a number :'))
prdt = 1
while num%10!=0:
    i=num%10
#     num=int(num/10)
    num=num//10
    prdt*=i
print("Product:",prdt)

In [ ]:
num=int(input('Enter a number :'))
flg=False
if(num<0):
    flg = True
    num=abs(num)
prdt = 1
while num%10!=0:
    i=num%10
    num=int(num/10)
    prdt*=i
if flg==True:
    print("Product:",-prdt)
else:
    print("Product:",prdt)

In [ ]:
'''

WAP to reverse a integer number

ip: 1234    4   3   2  1
op:4321

ip:8457
op:7548

ip: -1234, 1234
op: -4321
'''

In [ ]:
n=int(input('Enter the number: ')) #1234

l=len(str(n))
rev=0
for i in range(l):
    rem=n%10   
    rev=rev*10 + rem  
    n=n//10
print(rev)

In [ ]:
X = int(input("Please Enter any Number: "))    
R = 0 
while(X > 0):    
    Rem = X %10    
    R = (R *10) + Rem    
    X = X //10  
else:
    X= abs(X)
    #print(X)
    Rem = X %10    
    R = (R *10) + Rem  
    #print(R)
    X = X //10
     
print("Reverse is = %d" %R)

In [ ]:
num=int(input('Enter a number :'))
reverseNum=0
flg=False
if(num<0):
    flg = True
    num=abs(num)
while num%10!=0:
    i=num%10
    num=num//10
#     reverseNum+=str(i)
    reverseNum=reverseNum*10 + i
    print(reverseNum)
result=int(reverseNum)
if flg==True:
    print("Reverse Num:",-result)
else:
    print("Reverse Num:",result)

In [ ]:
num = 1234
newNum = 1
if num > 0:
    for i, digit in enumerate(str(num)):
        newNum = newNum * int(digit)
    print(newNum)
elif num < 0:
    num = abs(num)
    for i, digit in enumerate(str(num)):
        newNum = newNum * int(digit)
    print(-newNum)

In [ ]:
Given an integer,n , perform the following conditional actions:

If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5, print Not Weird
If n is even and in the inclusive range of 6to 20, print Weird
If n is even and greater than 20, print Not Weird
Input Format

A single line containing a positive integer,n .

In [ ]:
n = int(input('enter:').strip())
if n%2 !=0:
    print('Weird')
elif 2 <= n <= 5:
    print('Not Weird')
elif 6 <= n <= 20:
    print('Weird')
else:
    print ('Not Weird')

In [ ]:
1234 % 10

In [ ]:
1234//10

In [ ]:
num=int(input())

num2=str(num)

p=1
for i in range(len(num2)):
    r=num%10
    p=p*r
    num=num//10
    
print(p)

In [ ]:
#prime number

In [ ]:
2809


53*53= 2809



169----13

In [ ]:
53----(2---53)

In [ ]:
2---n/2

In [ ]:
119*119

In [23]:
n=int(input())
flag=True
for i  in range(2, n): #15%2 == 0
    if n%i==0:
        print('number is not a prime number')
        print('It is divisible by', i)
        break
    else:
        flag=False
if flag==False:
    print('Prime')

15
number is not a prime number
It is divisible by 3
Prime

In [19]:
n=13

In [20]:
for i in range(2,n):
    if n%i == 0 :
        print("Not Prime")
else:
    print("prime")

prime

In [ ]:
'''
WAP to find whether the given number is prime or not. 


11+1.....(n+1)/2
12/2=6

2,3,4,5,6,7


19


19+1/2=10






Hint: n..... n+1/2 (2.......n+1/2)

'''

In [26]:
n = int(input("Enter number")) #13
flag = False

if n == 1:
    print(n, "is not a prime number")
elif n > 1:
    for i in range(2, n):
        if (n % i) == 0:
            flag = True
    if flag:
        print(n, "is not a prime number")
    else:
        print(n, "is a prime number")

Enter number47
47 is a prime number

In [ ]:
i

In [ ]:
import time

In [ ]:
n=int(input('Enter the number: '))
start=time.time()
for i in range(2, n):
    if n%i==0:
        print('Not Prime')
        break   
else: 
    print('Prime')
end=time.time()

print('total time=', end-start)

In [ ]:
4//2

In [ ]:
n=int(input('Enter the number: '))
start=time.time()
for i in range(2, (n//2)+1):
    if n%i==0:
        print('Not Prime')
        break 
else: 
    print('Prime')
end=time.time()
print('total time=', end-start)

In [ ]:
i

# Break, Continue and Pass

In [ ]:
n=int(input("Enter the number: ")) #21

for i in range(2, int(((n+1)/2)+1)):
    if n%i==0:
        print('not prime')
        break
else:
    print('prime')

In [ ]:
num=int(input('Enter a number :'))
if num > 1:
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
            print(num, "is a prime number")
else:
    print(num, "Number should be greater than 1")

In [ ]:
num=int(input('Enter any number:'))
start=time.time()
if num>1:
    for i in range(2,int(num/2)+1): #(2,5000)
        if(num % i)==0:
            print(num,'is not a prime number')
            break
    else:
        print(num,'is a prime number')
else:
    print(num,'is neither prime nor composite')
end=time.time()

total=end-start
print("Total time taken: ", total)

In [ ]:
import time
num=abs(int(input("Enter the number: "))) #num=2
s=time.time()
flag=0 
if num==1 or num==0:
    flag=1 
a=int(num/2)+1
# for i in range(2, a): #7.4221
for i in range(2, num+1): #15.312
    if num%i==0:
        flag=1 
        print(i)
        
if flag==1:
    print('Not Prime')
else:
    print('Prime')
e=time.time()

t=e-s
print("total time taken: ", round(t, 4))

In [ ]:
13:09:20 start
        
13:09:45 end

In [ ]:
for i in range(2,2):
    print(i)

In [ ]:
int(2/2)+1

In [ ]:
n=5
for i in range(1, 11):
    print(i*n)

# Nested for loop

In [ ]:
'''
for element in sequence:
    for element in sequence:
        Body of inner for loop
        
    Body of Outer for loop

'''

In [ ]:
for i  in range(5):
    for j in range(4):
        print(i, j)

In [ ]:
x=4
y=5


print(x, y)

In [ ]:
counter=0
for i in range(15):                   #0,1,2,3,4
    for j in range(8):               #0,1,2,3,4
        counter=counter+1
print(counter)

In [ ]:
'''

for i in range(m):                   #0,1,2,3,4
    for j in range(n):               #0,1,2,3,4
        print(i,j)

    
given that m and n are positive integer and greater than 0, how many times the for loop is executed. 
what is the total number of output?

m*n

'''

In [12]:
for i in range(1, 11):
    print(2*i, end=",")

2,4,6,8,10,12,14,16,18,20,

In [ ]:
#WAP to print the multiplication table of 1 to 10 and upto 10

In [29]:
for i in range(1,6):    #i=1,2,3, 4,5  #Number of rows
    for j in range(1,11):     #j=1,2 ,....10 #Number of columns
        print(i*j, end=' ')
       
    print('')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

In [30]:
for i in range(10):    #i=1,2,3, 4,5  #Number of rows
    for j in range(2):     #j=1,2 ,....10 #Number of columns
        print(i*j, end=',')
       
    print('')

0,0,
0,1,
0,2,
0,3,
0,4,
0,5,
0,6,
0,7,
0,8,
0,9,

In [ ]:
for i in range(5):
    print(i, end='')

In [ ]:
'''
#WAP to take the input of height of the star pattern from the user and print the below star pattern upto that height



*
* *
* * *
* * * *
* * * * * 

'''

In [31]:
for i in range(5):
    for j in range(i+1):
        print("*", end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *

In [21]:
for i in range(1,6):   #1,2,3,4, 5
    for j in range(i): #0,1,2,3,4
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *

In [ ]:
n=int(input('Enter the height  of the star pattern: '))

for i in range(n+1): #12345
    for j in range(i):
        print('*', end=' ')
    print('')

In [ ]:
for i in range(1,6): #i=1,2,3,4,5
    for j in range(1,i+1): # (1,5) 1,2,3,4
        print('*', end=' ')
    print('')

In [ ]:
n=int(input())

for i in range(100,n+100): #5
    for j in range(100,i+1):
        print('*',end=' ')
        
    print('')

In [ ]:
num=int(input())

for i in range(1,num+1):
    for j in range(1, i+1):
        print('*', end=' ')
    print('')

In [ ]:
'''
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5


'''

In [22]:
# num = int(input())
for i in range(1,6):
    for j in range(i):
        print(i, end = ' ')
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# n=int(input())
# for i in range(1, n+1): 
#     for j in range(1, i+1):
#         print(j, end=' ')
#     print('')

In [ ]:
'''
1
1 2
1 2 3  
1 2 3 4 
1 2 3 4 5


'''

In [23]:
for i in range(1, 6): 
    for j in range(1, i+1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [27]:
for i in range(1, 6): 
    for j in range(i):
        print(j+1, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,6):
    for j in range(1, i+1):
        print(j, end=' ')
    print('')

In [ ]:
for i in range(1,6):
    for j in  range(6-i,0,-1): # negative step size means n--> n+1
        print(i, end=' ')
    print('')

In [ ]:
5-->1=5
4-->=4
3-->1=3



6---->2=5
6--->3=4
6---

In [29]:
for i in range(1,6):
    for j in range(6-i):
        print(i, end=" ")
    print("")

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
'''

1 1 1 1 1
2 2 2 2
3 3 3 
4 4 
5


'''

In [30]:
#jyoti
for i in range(1,6):
    for j in range(6,i,-1):   #6,
        print(i, end=' ')
    print('')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [31]:
#Roshan
for i in range(1,6):
    for j in range(6-i,0,-1):
        print(i, end=' ')

    print('')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [32]:
#udit
for i in range (1,6):
    for j in range(i,6,1): #12345. 2345, 345,45,5
        print(i,end=' ')
    print('')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
for i in range(1,6): 
    for j in range(6-i, 0, -1): #5,4,3,2,1
        print(i, end=' ')
    print('')

In [ ]:
for i in range(1, 6):
    for j in range(5, i-1,-1):
        print(i,end=" ")
    print('')

In [ ]:
n = int(input("Enter size: "))
row = 1
for i in range(n, 0, -1):
    for j in range(1, i+1):
        print(row, end=" ")
    row += 1
    print()

In [ ]:
rows=5
b=0

for i in range(rows, 0, -1):
    b+=1
    for j in range(1, i+1):
        print(b, end=' ')
        
    print('')

In [ ]:
for i in range(5,0,-1):                                        
    for j in range(1,i+1):                                       
        print(i,end=" ")
    print(" ")

In [ ]:
'''
5 5 5 5 5  
5 5 5 5 
5 5 5  
5 5 
5

'''

In [ ]:
for i in range(1,6):                                        
    for j in range(6-i,0,-1):                                       
        print('5',end=" ")
    print("")

In [ ]:
a=5
for i in range(5, 0, -1):
    for j in range(1, i+1):
        print(a, end=' ')
    print()

In [ ]:
for i in range(5,0,-1):
    for j in range(1,i+1):
            print("5", end=' ')
    print('')

In [ ]:
'''

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

'''

In [36]:
for i in range(1,6): #i=5
    for j in range(i): #j=0,1,2,3,4
        print(i-j, end=" ")
    print('')

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
for i in range():
    for j in range():
        print(, end=' ')
    print('')

In [ ]:
for i in range(1,6):
    for j in range(i,0,-1): #i=3, j=3,2,1 
        print(j, end=' ')
    print('')

In [ ]:
for i in range(1, 6):
    for j in range(i, 0, -1):
            print(j, end=' ')
    print('')

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
            print(i, end=' ')
            i-=1
    print('')

In [ ]:
'''
5 4 3 2 1
4 3 2 1
3 2 1
2 1 
1
'''

In [ ]:
for i in range(1,6): #no of rows
    for j in range(6-i,0,-1): #no. of columns
        print(j, end=' ')
        
    print('')

In [ ]:


for i in range(5,0,-1):   
    for j in range(1,i+1):                                       
        print(i,end=" ")
        i-=1
    print(" ")

In [ ]:
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j,end=" ")
    print(" ")
    
    
6386822238: Aryan

In [ ]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(i, end=' ')
        i-=1
    print('')

In [ ]:
for i in range(0,5):
    for j in range(0,6-i):
        print(j, end= ' ')
    print('')

In [ ]:
'''
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

'''

In [ ]:
for i in range(5,0,-1): #no of rows
    for j in range(0,i+1): #no. of columns
        print(j, end='  ')
        
    print('')

In [ ]:
for i in range():
    for j in range():
        print(, end=' ')
       
    print('')

In [ ]:
for i in range(5,0,-1):   
    for j in range(0,i+1):                                       
        print(j,end=" ")
    print(" ")

In [ ]:
for i in range(5,-1,-1):   
    for j in range(0,i+1):                                       
        print(j,end=" ")
    print(" ")

In [ ]:
'''

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

'''

In [ ]:
num = int(input('Input your number:'))
for i in range(1,(num+1),2):
    for j in range (1,i+1,2):
        print(i,end=' ') # this multiply the row and colum and seperates witha comma 
    print('')

In [ ]:
for i in range(1,11 , 2):
    for j in range(i ,0,-2):
        print(i , end=' ')
    print('')

In [ ]:
n=abs(int(input("Enter no ")))
for i in range(1,n+1):
    for j in range(0,i):
        print((2*i)-1,end=" ")
    print(" ")

In [ ]:
for i in range():
    for j in range():
        print(, end=' ')
    print()

In [ ]:
#vasanthi

for i in range(1, 10, 2):
    for j in range(i, 0, -2):
        print(i,end=" ")
    print(" ")

In [ ]:
#hari

for i in range(1,11, 2):
    for j in range(1,i+1,2):
        print(i, end=' ')
    print('')

In [ ]:
#surendra

for a in range(1,10,2):
    for b in range(1,a+1,2):
        print(a, end=" ")
    print(" ")

In [ ]:
#abhishek

b=1
for i in range(1,6):
    for j in range(1,i+1):
        print(b,end=" ")  
    print(" ")
    b+=2

In [ ]:
for i in range(4):
    for j in range(i+1):
        print('*', end=' ')
    print('')

In [ ]:
'''
1 
3 2 
6 5 4 
10 9 8 7 
15 14 13 12 11

start=0
add=1
    start=start+add =1 ,3, 3+3=6, 6+4=10, 10+5=15
    add=add+1 =2, 3, 4, 5
'''

In [10]:
start=1
add=1
p=start

for i in range(1,6):
    for j in range(i):
        print(p, end=' ')
        p = p-1
    print()
    add=add+1   #2, 3, 4, 5, 6
    start=start+add #1+2=3, 3+3=6, 6+4=10, 10+5=15, 15+6=21
    p=start  #3, 6, 10, 15, 21

1
3 2
6 5 4
10 9 8 7
15 14 13 12 11

In [7]:
add

7

In [8]:
start

28

In [9]:
p

28

In [11]:
start = 0
add = 1
for i in range(1, 6):
    for j in range(i):
        start = start + add
        print(start, end=' ')
        start-=1
    add = add + 1
    print(" ")

1
2 3
5 7 9
12 15 18 21
25 29 33 37 41

In [12]:
start=1
stop=2
current_num = stop #2

for i in range(2, 6): #2,3,4,5
    for j in range(start, stop): #range(1,2), range(2,4) range(4,7),range(7, 11)
        current_num -=1
        print(current_num, end=' ')
    print()
    start = stop        #2, 4, 7
    stop += i           #2+2=4, 4+3=7, 7+4=11
    current_num = stop  # 4, 7, 11

1
3 2
6 5 4
10 9 8 7

In [ ]:
'''
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

'''

In [16]:
for i in range(1, 6):
    for j in range(i):
        print(j+1, end=" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [18]:
for i in range(1, 6): #1, 2, 3, 4, 5
    num=1
    for j in range(5, 0, -1):
        if j > i: #5, 4, 3, 2, 1
            print(' ', end=' ')
        else:
            print(num, end=' ')
            num +=1
    print('')

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [ ]:
'''

* * * * *
* * * *
* * *
* *
*


'''

In [ ]:
for i in range():
    for j in range():
        print( ,end=' ')
    print('')

In [ ]:
#yashwanth
for i in range(5,0,-1):   
    for j in range(1,i+1):                                       
        print('*',end=" ")
        i-=1
    print(" ")

In [ ]:
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print('*',end=" ")
    print(" ")

In [ ]:
a='abcd@gmail.com'

In [ ]:
for i in a:
    if i=='@':
        break
    print(i,end='')

# Break, Continue and Pass

In [ ]:
# WAP to find if there is a number divisible by 13 between 1 to 50. if any one value is divisble by 13 
# you will get the prize modey.

In [24]:
for i in range(1, 51):
    if i % 13 == 0: 
        print("The number which is divisible by 13 is ", i)
        break

The number which is divisible by 13 is  13

In [ ]:
'''
WAP to take the email id as the input from the user and print only the USERNAME from the mail ID.

I/P: xyz123@gmail.com

O/P: xyz123
     gmail.com




'''

In [ ]:
x=str(input('Enter the email ID:'))

for i in x:
    if i == '@':
        break
    print(i, end='')
    
#print('For loop terminated')

In [28]:
x=str(input('Enter the email ID:'))

for i in x:
    if i == '@':
        print('')
        
    print(i, end='')

Enter the email ID:xyz@gmail.com
xyz
@gmail.com

In [27]:
x=str(input('Enter the email ID:'))

for i in x:
    if i == '@':
        print('')
        continue
    print(i, end='')

Enter the email ID:xyz@gmail.com
xyz
gmail.com

In [30]:
#if a number is divisble by 5 then print it otherwise multiply it with 10
for i in range(1,21):
    if i%5==0:
        print(i, "is divisible by 5")
        continue
    
    print(i * 10 )

10
20
30
40
5 is divisible by 5
60
70
80
90
10 is divisible by 5
110
120
130
140
15 is divisible by 5
160
170
180
190
20 is divisible by 5

In [35]:
for x in range(11):
    if (x%3==0):
        print(x)
    else:
        pass
        #print(x, 'Hello')

0
3
6
9

In [ ]:
x=str(input())

for i in x:
    if i == '@':
        #print(i)
        break
    else:
        print(i, end='')
        #pass
    
#print('Done')

In [ ]:
'''

WAP Take the input of NAME from the user and find the first name and last name of the user. 

i/p: Steve Jobs

output: Steve
        Jobs
        






'''

In [ ]:
# This is the final one but without usage of continue
x=str(input('Enter your full name'))
for i in x:
    if(i==' '):
        print(' ')
    else:
        print(i,end='')

In [ ]:
Name=str(input())
for i in Name:
    if i==' ':
        print('')
        break
    print(i, end='')