'''

Tuple is a collection of Python objects much like a list. 
The sequence of values stored in a tuple can be of any type, and they are indexed by integers. 

Values of a tuple are syntactically separated by ‘commas’.
'''

# Creating a Tuple

In [ ]:
'''

In Python, tuples are created by placing a sequence of values separated by ‘comma’ 
with or without the use of parentheses for grouping the data sequence.

Note: Creation of Python tuple without the use of parentheses is known as Tuple Packing. 

List is mutable and Tuple is immutable

[] : list
{} : Dictionary
() : Tuple

'''

In [ ]:
# Creating an empty Tuple

In [ ]:
Tuple1 = ()

In [ ]:
print(Tuple1)

In [ ]:
type(Tuple1)

In [1]:
Tuple2 = ('Hello', 'John')

print(Tuple2)

('Hello', 'John')

In [3]:
l=['Hello', 'John']
l

['Hello', 'John']

In [4]:
type(Tuple2)

tuple

In [5]:
l=['bob']
type(l)

list

In [12]:
(10)+(2*8)

26

In [17]:
type((True))

bool

In [13]:
(5+2)*(10)

70

In [23]:
t=('bob')
type(t)

str

In [24]:
t=('bob',)
type(t)

tuple

In [9]:
x=()
type(x)

tuple

In [ ]:
y=(5+4,)
type(y)

In [ ]:
t

In [ ]:
t=('bob',)

In [ ]:
type(t)

In [ ]:
l=['bob']

In [ ]:
type(l)

# Creating a Tuple with list

In [25]:
list1 = [1, 2, 4, 5, 6]

In [26]:
type(list1)

list

In [27]:
t1=tuple(list1)
t1

(1, 2, 4, 5, 6)

In [29]:
type(t1)

tuple

In [30]:
t1

(1, 2, 4, 5, 6)

In [31]:
l1=list(t1)
l1

[1, 2, 4, 5, 6]

In [32]:
type(l1)

list

In [33]:
Tuple1 = (5, 'Welcome', 7, 'Hello', 9.5, True)

print(Tuple1)

(5, 'Welcome', 7, 'Hello', 9.5, True)

In [34]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'code')

Tuple3 = (Tuple1, Tuple2)

print(Tuple3)

((0, 1, 2, 3), ('python', 'code'))

In [35]:
l=['Python']
l*10

['Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python']

In [36]:
Tuple1 = ('Python',) * 10

print(Tuple1)

('Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python')

In [38]:
Tuple1=list(Tuple1)

In [ ]:
Tuple1.append('Cooper')

In [ ]:
Tuple1

In [ ]:
Tuple1=tuple(Tuple1)

In [ ]:
Tuple1

In [61]:
ls=[1,2,3,4,5]

In [62]:
ls.append(6)

In [63]:
ls

[1, 2, 3, 4, 5, 6]

# Accessing Tuple

In [39]:
# Accessing Tuple with Indexing
Tuple1 = (0, 1, 2, 3, 'Hello', 'Python', True)
Tuple1

(0, 1, 2, 3, 'Hello', 'Python', True)

In [43]:
print(Tuple1[6])

True

In [ ]:
x=Tuple1[2]

In [ ]:
type(x)

In [ ]:
x*2

In [ ]:
Tuple3

In [ ]:
Tuple3[1][0]

In [44]:
# Tuple unpacking
Tuple1 = ("Hello", "Good", "Morning", 'John')

In [45]:
Tuple1

('Hello', 'Good', 'Morning', 'John')

In [46]:
x=5
y=10

In [47]:
x, y = (15, 20)

In [48]:
x

15

In [49]:
y

20

In [50]:
x, y, z, a, b = (15, 16, 20, 25, 30)

In [52]:
z

20

In [57]:
Tuple1

('Hello', 'Good', 'Morning', 'John')

In [55]:
# This line unpack values of Tuple1
a, b, c, d = Tuple1

In [56]:
print("\nValues after unpacking: ")
print(a)
print(b)
print(c)
print(d)

Values after unpacking:
Hello
Good
Morning
John

# Concatenation in tuple

In [71]:
# Concatenation of tuples
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('Hello', 'Good', 'Morning')

In [66]:
Tuple3 = Tuple1 + Tuple2

In [67]:
print(Tuple3)

(0, 1, 2, 3, 'Hello', 'Good', 'Morning')

In [ ]:
m='Butter'
n='fly'

m + ' ' + n

# Deletion of tuple

In [75]:
del Tuple3

In [76]:
Tuple1

(0, 1, 2, 3)

In [77]:
Tuple2

('Hello', 'Good', 'Morning')

In [78]:
Tuple3

NameError: name 'Tuple3' is not defined

# Sets in Python

In [ ]:
'''
A Set in Python programming is an unordered collection data type that is iterable, mutable and has no duplicate elements. 
Set are represented by { } (values enclosed in curly braces)


{key:value} - dictionary
{element} - set


'''

In [ ]:
var = {"Hello", "Good", "Morning"}
type(var)

In [ ]:
var

In [ ]:
l=["a", "b", "c","c","a"]
l

In [ ]:
myset = set(l)

print(myset)

In [ ]:
# Adding element to the set
myset.add("d")

In [ ]:
print(myset)

In [ ]:
# a set cannot have duplicate values
myset = {"Hello", "from", "Hello"}
print(myset)

In [ ]:
l=[6,1,39,13,131,643,1994,61,3,2,5,2,3,5,1,2,3,4,5,3,2,1,6]
l

In [ ]:
set1 = set(l)
set1

In [ ]:
l1=list(set1)
l1

In [ ]:
myset

In [ ]:
myset[1]

In [ ]:
# values of a set cannot be changed
myset[1] = "Hello"
print(myset)

In [ ]:
myset = {"Good", "for", 10, 52.7, True}
print(myset)

# Access elements in set

In [ ]:
'''

You cannot access items in a set by referring to an index or a key. But you can loop through the set items using a for loop, 
or ask if a specified value is present in a set, by using the in keyword.

'''

In [ ]:
for i in myset:
    print(i)

# Add elements in set

In [ ]:
people = {"Jay", "Idrish", "Archi"}

In [ ]:
print(people)

In [ ]:
people.add("Daxit")

In [ ]:
people

In [ ]:
for i in range(1, 6):
    people.add(i)

In [ ]:
print(people)

In [ ]:
num=[]
num=set(num)

for i in range(1,6):
    num.add(i)

num

# operation on set

# Union

In [ ]:
'''

Union: Union of set A and set B will give you the elements which belongs to either from set A or from set B.


'''

In [ ]:
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}

In [1]:
A={1,2,3,4}
B={3,4,5,6}
# A U B={1,2,3,4,5,6}

In [2]:
type(A)

set

In [3]:
type(B)

set

In [4]:
A.union(B)

{1, 2, 3, 4, 5, 6}

In [5]:
A | B  # pipeline

{1, 2, 3, 4, 5, 6}

In [ ]:
# Union using union() function

population = people.union(vampires)

In [ ]:
print("Union using union() function")
print(population)

In [ ]:
'''
# Union using "|" pipeline symbol
# operator

'''
population = people|dracula

In [ ]:
print("\nUnion using '|' operator")
print(population)

# Intersection

In [ ]:
'''
Intersection: Intersection of set A and set B will give the elements which belongs to the set A and setB



'''

In [6]:
set1 = set()
set2 = set()

In [7]:
for i in range(5):
    set1.add(i)

for i in range(3,9):
    set2.add(i)

In [8]:
set1

{0, 1, 2, 3, 4}

In [9]:
set2

{3, 4, 5, 6, 7, 8}

In [10]:
# Intersection using intersection() function
set3 = set1.intersection(set2)

In [11]:

print(set3)

{3, 4}

In [ ]:
print(set1)
print(set2)

In [12]:
set1 & set2

{3, 4}

In [ ]:
#WAP to find the Union and Interection of these sets. S1 = {8,5,6,7,9,4,2}, S2= {8,6,7,5,9,1,10}

In [13]:
S1 = {8,5,6,7,9,4,2}
S2= {8,6,7,5,9,1,10}

In [14]:
S1 |  S2

{1, 2, 4, 5, 6, 7, 8, 9, 10}

In [15]:
S1 & S2

{5, 6, 7, 8, 9}

In [ ]:
# Intersection using "&" operator
set3 = set1 & set2

In [ ]:
set4 = set1 | set2

In [ ]:
print("Union: ", set4)
print("Intersection: ", set3)

# Set Difference

In [ ]:
set1 = set()
set2 = set()

In [ ]:
for i in range(5):
    set1.add(i)

for i in range(3,9):
    set2.add(i)

In [16]:
set1

{0, 1, 2, 3, 4}

In [17]:
set2

{3, 4, 5, 6, 7, 8}

In [18]:
# Difference of two sets using difference() function
set3 = set1.difference(set2)

In [19]:
print(" Difference of two sets using difference() function")
print(set3)

 Difference of two sets using difference() function
{0, 1, 2}

In [20]:
# Difference of two sets using '-' operator
set3 = set1 - set2

In [21]:
print("\nDifference of two sets using '-' operator")
print(set3)

Difference of two sets using '-' operator
{0, 1, 2}

In [22]:
set4 = set2.difference(set1)
set4

{5, 6, 7, 8}