In [ ]:
ls=[1,2,3,4,5,6]

In [ ]:
s=0
for i in ls:
    s=s+i
print(s)

In [ ]:
sum(ls)

In [ ]:
max(ls)

In [ ]:
min(ls)

In [ ]:
avg(ls)

In [ ]:
lenghth=10
breadth=5

In [ ]:
area(lenghth, breadth)

In [ ]:
for i in range(1,5,2):
    print(i)

In [ ]:
a=[1,2,3,4,5]
b=[6,7,8,9]

In [ ]:
sum(a)

In [ ]:
'''
SYNTAX

def <function name> (input1, input2....):
    operations 1
    operation 2
    operation 3
    .
    .
    operation n
    
    return output1, output2..... outputn



'''

In [ ]:
def add_five(x): 
    
    output = x+5
    
    return output

In [ ]:
#call the function

y=100
money=50
salary=5000

In [ ]:
add_five(salary)

In [ ]:
add_five(y)

In [ ]:
#create a python method that takes the length and the breadth of a rectangle and returns the area of the rectangle.

In [ ]:
"""
Function is a machine


"""

In [ ]:
#it will take an integer input and add 5 into it
def addition(a):
    out=a+5
    return out

In [ ]:
x=10

In [ ]:
y=addition(x)
y

In [ ]:
def two_input(m, n):
    
    print('Input 1 =',m)
    print('Input 2 =',n)
    
    output = m + n
    return output

In [ ]:
ans=two_input(10,15)
print(ans)

In [ ]:
def two_output(input1, input2):
    print('Input1=',input1)
    print('Input2=',input2)
    
    add = input1 + input2
    sub = input1 - input2
    
    return add, sub

In [ ]:
two_output(15,10)

In [ ]:
addition, subtraction = two_output(15,10)

In [ ]:
addition

In [ ]:
subtraction

In [ ]:
def list_output(input1, input2):
    print('Input1=',input1)
    print('Input2=',input2)
    
    add = input1 + input2
    sub = input1 - input2
#     return (add, sub)
#     l=[add, sub]
#     return [add, sub]

    return {'addition':add, 'subtraction':sub }
#     return {add, sub}
#     return [add, sub], {'addition':add, 'subtraction':sub }

In [ ]:
list_output(20, 10)

In [ ]:
def input_2(a,b):
    print ("Input A =", a)
    print ('Input B =', b)
    
    add = a+b
    sub = a-b
    return {'addition':add,'substraction':sub} #[add, sub],
x = input_2 (15,25)

In [ ]:
x

In [ ]:
x, y=list_output(15,25)

In [ ]:
x

In [ ]:
y

In [ ]:
def addition(a,b):
    add=a+b
    return add   
def subtraction(a,b):
    sub=a-b
    return sub

In [ ]:
addition(10,12)

In [ ]:
subtraction(20,10)

In [ ]:
s=0
for i in l:
    s=s+i
print(s)

In [ ]:
print(sum(l1))
print(sum(l2))
print(sum(l3))
print(sum(l4))
print(sum(l5))

In [ ]:
l1=[56,4,4,54,54,56,46]
l2=[54,6,16,1,6,61,6,62,6,26]
l3=[5,54,5,45,4,54,5,415,4]
l4=[5,8,75,1,54,1,7524,51]
l5=[4,49,65,4,148,1,24,41,52]

In [ ]:
l=[0,1,2,3,4,5,6,7,8,9,10,11,12,13]
even_list=[]
odd_list=[]

for i in l :
    if (i%2==0):
        even_list.append(i)
    else:
        odd_list.append(i)
        
print(even_list)
print(odd_list)

In [ ]:
def even_odd_filter(l):
    even_list=[]
    odd_list=[]

    for i in l :
        if (i%2==0):
            even_list.append(i)
        else:
            odd_list.append(i)
    return even_list, odd_list

In [ ]:
l2

In [ ]:
sum(l2)

In [ ]:
e, o = even_odd_filter(l2)

In [ ]:
e

In [ ]:
o

In [ ]:
l=[1,2,3,4,5,6,7,8]

s=[]
for i in l :
    s.append(i**2)
print(s)

In [1]:
l=[1,2,3,4,5,6]

In [2]:
sum(l)

21

In [3]:
def sum_list(l):
    s=0
    for i in l:
        s=s+i
    return s

In [5]:
sum_list(l)

21

In [6]:
l2=[295,2162,956,6465,3232,3262,49,346,326]
sum_list(l2)

17093

In [7]:
sum(l2)

17093

In [8]:
product(l2)

NameError: name 'product' is not defined

In [9]:
def product(ls):
    m=1
    for i in ls:
        m=m*i
    return m

In [10]:
product(l2)

229693769380397115615897600

In [13]:
l=[545,4546,646]

In [14]:
product(l)

1600510220

In [ ]:
out=[]
s1=0
for i in l1:
    s1=i+s1
    
out.append(s1)

s2=0
for i in l2:
    s2=i+s2
    
out.append(s2)

s3=0
for i in l3:
    s3=i+s3
    
out.append(s3)

s4=0
for i in l4:
    s4=i+s4
    
out.append(s4)

s5=0
for i in l5:
    s5=i+s5
    
out.append(s5)

In [ ]:
out

In [ ]:
a1=sum_list(l1)
a2=sum_list(l2)
a3=sum_list(l3)
a4=sum_list(l4)
a5=sum_list(l5)

out2=[a1,a2,a3,a4,a5]

In [ ]:
out2

In [ ]:
out3=[sum_list(l1),sum_list(l2),sum_list(l3),sum_list(l4),sum_list(l5)]

In [ ]:
l1
sum(l1)

In [ ]:
l1

In [ ]:
def product(l):
    p=1
    for i in l:
        p=p*i
    return p

In [ ]:
product(l1)

In [ ]:
prd_lst=[product(l1), product(l2), product(l3), product(l4), product(l5)]
prd_lst

In [ ]:
sum_list(l2)

In [ ]:
s=0
for i in l:
    s=s+i

print(s)

In [ ]:
p=1
for i in l:
    p=p*i
print(p)

In [ ]:
l2=[9,8,7,6,5,94,3,1]

#sum and product of all  the elements of the list

In [ ]:
sum(l2)

In [ ]:
p=1
for i in l2:
    p=p*i
print(p)

In [15]:
l2

[295, 2162, 956, 6465, 3232, 3262, 49, 346, 326]

In [16]:
sorted(l2)

[49, 295, 326, 346, 956, 2162, 3232, 3262, 6465]

In [17]:
sorted(l2, reverse=True)

[6465, 3262, 3232, 2162, 956, 346, 326, 295, 49]

In [18]:
product(l2)

229693769380397115615897600

In [ ]:
#docstring

In [20]:
def product(ls=list): 
    '''This function is computing the product of the element of the list
    
    Input Parameter:
    ls: list input
    '''
    p=1
    for i in ls:
        p=p*i
    return p

In [ ]:
product(l2)

In [ ]:
sum(l2)

In [ ]:
def product_list(l):
    product=1
    for i in l:
        product=product*i
    
    return product

In [ ]:
maths_list=[72,65,48,79,81]

phy_list=[56,14,67,85,91]

chem_list=[94,64,24,95,84]

In [ ]:
phy=product_list(phy_list)
phy

In [ ]:
'''


WAP to create a python function which accepts an integer n input and gives a list as output containing the elemnts from 0 to n

i/p: 5
o/p: [0,1,2,3,4,5]



'''

In [22]:
n=5
ls=[]
for i in range(n+1):
    ls.append(i)

In [24]:
def list_generator(n):
    ls=[]
    for i in range(n+1):
        ls.append(i)
    return ls

In [28]:
list_generator(15)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
def list_generator(n):
    l=[]
    for i in range(n+1):
        l.append(i)
    return l

In [ ]:
num=int(input('Enter the number: '))
ls=list_generator(num)
ls

In [ ]:
def product_list(lst):
    product=1
    for i in lst:
        product=i*product
        
    return product

In [ ]:
l

In [ ]:
l2

In [ ]:
pl=product_list(l)

In [ ]:
pl

In [ ]:
pl2=product_list(l2)
pl2

In [ ]:
l3=[6,44,89,1,8,1,6,51,4,5,4,1,1
   ,8,1,4,5,8,1,511,55,154,551,55,5]

In [ ]:
pl3=product_list(l3)

In [ ]:
pl3

In [ ]:
max(l)

In [ ]:
sum(l) # 1+2+3+4+5

In [ ]:
total=0
for i in a:
    total += i
    
print(total)

In [ ]:
x=4
y=5

In [ ]:
l=400
b=300

area=l*b
print(area)

In [ ]:
def area_rectangle(l, b):
    area=l*b
    return area

In [ ]:
a=100
b=150

In [ ]:
area_rectangle(a, b)

In [ ]:
def list_generator(n):
    l=[]
    for i in range(n+1):
        l.append(i)
    return l

In [ ]:
a=1

In [ ]:
def area_rectangle(a, b):
   
    area=a*b
    
    return area

In [ ]:
l=float(input())
b=float(input())
area_rectangle(l,b)

In [ ]:
a

In [ ]:
a=area_rectangle(10,5)

In [ ]:
a

In [ ]:
print("A")

In [ ]:
docstring

In [ ]:
'''
    This function computes the area of a triangle
    
    Parameters:
    height: height of the triangle
    base: base of a triangle
    
'''

In [ ]:
# WAP to create a python function which accepts two input that is base and height of the triangle and the function returns
# the area of the triangle.

In [29]:
def area_triangle(height=float, base=float):
    '''
    This function computes the area of a triangle
    
    Parameters:
    height: height of the triangle (data type: float)
    base: base of a triangle (data type: float)
    
    '''
    
    area= (height*base)/2
    return area

In [30]:
area_triangle(10,5)

25.0

In [31]:
l=[1,2,3,4,5,6]

In [32]:
sum(l)

21

In [33]:
sum_list(l)

21

In [ ]:
def area_circle(r):
    '''
    This function computes the area of a circle
    Parameters:
    r: Radius of the circle
    '''
    
    print("Area of Circle")
    area = 3.14 *r*r
    return area

In [ ]:
area_rectangle(8, 4)

In [ ]:
area_triangle(5, 2)

In [ ]:
area_circle(5)

In [ ]:
x

In [ ]:
#take a input from user then create a list upto that number

In [ ]:
n=int(input())

l=[]

for i in range(n+1):
    l.append(i)
    
print(l)

In [ ]:
l2=[]

for i in range(10):
    l2.append(i)
    
print(l2)

In [ ]:
l3=[]

for i in range(20):
    l3.append(i)
    
print(l3)

In [ ]:
def list_generator(n):   #taking input of length of list and return a list upto n.
    l=[]
    for i in range(n+1):
        l.append(i)
    print("list",l)
    return l

In [ ]:
x=list_generator(6)

In [ ]:
x

In [ ]:
'''

WAP of python function which accepts two list as input where first list contains the product name and second list contain
the annual sales of  the product. output should be a dictionary where key is product name and value is annual sales.

Consider that the each individual product and sales is at same index in their respective list. 


'''

In [ ]:
def product_sales(l=list,m=list):
    output={}
    
    for i in range (len(l)):
        output[l[i]]=m[i]
    return output

In [ ]:
product=['Apple', 'Samsung', 'Google Pixel', 'Nokia']
sales=[3.5, 2.1, 0.7,0.005]

In [ ]:
car=['Tesla', 'Toyota', 'Honda', 'Volkswagen']
annual_sales=[35.2, 115.8, 26.8, 95.2]

In [ ]:
product_sales(product, sales)

In [ ]:
product_sales(car, annual_sales)

In [ ]:
product=['Football','Basketball','Tennis','Chess']
sales=[852.2, 845.6, 352,5, 150.2]

In [ ]:
sum(sales)

In [ ]:
x

In [ ]:
product_sales(product, sales)

In [ ]:
def MY_FUNCTION(n, m):
    if len(n) == len(m):
        my_dict = {}
        
        for i in range(len(n)):
            key = n[i]
            value = m[i]
            my_dict[key] = value
            
        return my_dict
            
    else:
        return "input lists not same length"

In [ ]:
MY_FUNCTION(car, annual_sales)

In [ ]:
def product_sales(p, s):
    d={}
    for i in range(len(p)):
        d[p[i]]=s[i]
    return d




product_sales(product, sales)

In [ ]:
def create_sales_dict(products, sales):
    sales_dict = {}
    for i in range(len(products)):
        sales_dict[products[i]] = sales[i]
    return sales_dict

#  usage:
prod =['Apple','BlackBerry','Nokia']
sales = ['5000','2800','109']

sales_dict = create_sales_dict(prod, sales)

print(sales_dict)

In [ ]:
l=[1,2,3,4,5]

In [ ]:
for i in l:
    print(i)

In [ ]:
type(m1)

In [ ]:
m2=list_generator(10)

In [ ]:
m3=list_generator(20)

In [ ]:

list_generator(5)

In [ ]:
def even_odd_checker(n):
    if n % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [ ]:
even_odd_checker(544)

In [ ]:
x=5
y=10
z=x+y

z

In [ ]:
def multiple_five_checker(n):
    if n % 5 == 0:
        return "Multiple of 5"
    else:
        return "Not a Multiple of 5"

In [ ]:
multiple_five_checker(56)

In [ ]:
even_odd_checker(564)

In [ ]:
visual studio code

In [ ]:
def list_avg(l):
    total=0
    count=0
    for i in l:
        total += i
        count += 1
        
    avg = total/count
    
    return round(avg, 2)

In [ ]:
l1=[1, 5,6,19,1,53,46,16,15,35,3,53,6,223,56,2,62,6,26,2,62,6,26,62,6,6,2,95,6,6,5,48]

In [ ]:
list_avg(l1)

In [ ]:
sum(l1)

In [ ]:
max(l1)

In [ ]:
min(l1)

In [ ]:
list_avg(l1)

In [ ]:
area =  3.14 * 10* 10

In [ ]:
area

In [ ]:
area_circle(10)

In [ ]:
area_rectangle(100, 200)

In [ ]:
def land_price(a, b):
    area=a*b
    price = 500 * area
    return price, area

In [ ]:
p, a = land_price(100, 200)

In [ ]:
a

In [ ]:
p

In [ ]:
even_odd_checker(9)

In [ ]:
area_triangle(4, 5)

In [ ]:
l4=list_generator(3)

In [ ]:
area_rectangle(5,6,2)

In [ ]:
def area_rectangle(a, b):
   
    area=a*b
    return area

def area_triangle(height, base):
    
    
    area= (height*base)/2
    return area

def area_circle(r):
 
    area = 3.14 *r*r
    return area
    
def list_generator(n):
    l=[]
    for i in range(n):
        l.append(i)
        
    return l

def even_odd_checker(n):
    if n % 2 == 0:
        return "Even"
    else:
        return "Odd"
    
def multiple_five_checker(n):
    if n % 5 == 0:
        return "Multiple of 5"
    else:
        return "Not a Multiple of 5"
    
def list_avg(l):
    total=0
    count=0
    for i in l:
        total += i
        count += 1
        
    avg = total/count
    
    return round(avg, 2)


def land_price(a, b):
    area=a*b
    price = 500 * area
    return price

def sim_int(A, P):
    SI=A-P
    return SI

def sim_int_rate(P, SI, T):
    '''
    P: Principle (type: float)
    SI: Simple interest (type: float)
    T: Time (type: float)
    '''
    Rate_per = (SI*100)/(P*T)
    return Rate_per

In [ ]:
a=[5,5,4,5,5,54,2,8]

In [ ]:
product_list(a)

In [ ]:
e, o = even_odd_filter(a)

In [ ]:
e

In [ ]:
o

In [ ]:
from Utilities import config

In [ ]:
x=5
config.even_odd_checker(x)