In [ ]:
'''

Class: Class is template/blue-print for  the real world entity.

Properties
Behavior

Class is a user defined data type in python (just like int, float, str, list...)
The first alphabet is always in capital letter for the class name

Object: Object are specific instances of  the class. 

'''

In [10]:
n = int(input())
for i in range(2,(n//2)+1): 
    if n%i == 0:
        print('not prime')
        break
else:
    print('prime')

11
prime

In [6]:
11//2

5

In [ ]:
'''

self:

When working with classes in Python, the term “self” refers to the instance of the class that is currently being used. 
It is customary to use “self” as the first parameter in instance methods of a class. 
Whenever you call a method of an object created from a class, 
the object is automatically passed as the first argument using the “self” parameter. 
This enables you to modify the object’s properties and execute tasks unique to that particular instance.

'''

In [ ]:
def area(l, b):
    return l*b

In [ ]:
area(5,25)

In [ ]:
#creation of Class

class Phone:
    
    def make_call(self):
        print("Making phone call")
    
    def play_game(self):
        print("Playing the Game")

In [ ]:
#Creating the object (Instantiating the object)

p1=Phone()

In [ ]:
type(p1)

In [ ]:
p1.make_call()

In [ ]:
p1.play_game()

# Adding Parameters to the class

In [ ]:
class Phone:
    
    def set_color(self, color):
        self.color = color
    def set_cost(self, cost):
        self.cost=cost
        
    def show_color(self):
        return self.color
    def show_cost(self):
        return self.cost
    
    def make_call(self):
        print("Making phone call")
    
    def play_game(self):
        print("Playing Game")

In [ ]:
p1=Phone()

In [ ]:
p1.set_color('Black')

In [ ]:
p1.set_cost(5000)

In [ ]:
p1.show_color()

In [ ]:
p1.show_cost()

In [ ]:
p2=Phone()

In [ ]:
p2.set_color('Red')
p2.set_cost(2000)

In [ ]:
p2.show_color()

In [ ]:
p2.show_cost()

In [ ]:
p1.show_color()

In [ ]:
p1.show_cost()

In [ ]:
apple=Phone()

apple.set_color('silver')
apple.set_cost(1500)

In [ ]:
apple.show_color()

In [ ]:
apple.show_cost()

# Creating a class with constructor

In [13]:
class Employee:
    def __init__(self, name, age, salary, gender):  #constructor
        self.name=name    #self.name='bob'
        self.age=age
        self.salary=salary
        self.gender=gender
        
    def domain(self, domain):
        self.domain=domain
        
    def performance(self, rating):
        self.rating=rating
        
    def employee_details(self):
        print('Name: ', self.name)
        print('Age: ', self.age)
        print('Salary: ', self.salary)
        print('Gender: ', self.gender)
        print('Domain: ', self.domain)

In [2]:
e1=Employee()

TypeError: Employee.__init__() missing 4 required positional arguments: 'name', 'age', 'salary', and 'gender'

In [9]:
e1=Employee('Bob', 25, 5000, 'Male')

In [10]:
e1.domain('Technical')

In [22]:
type(e1)

__main__.Employee

In [11]:
e1.employee_details()

Name:  Bob
Age:  25
Salary:  5000
Gender:  Male
Domain:  Technical

In [12]:
e2=Employee('John', 32, 12000, 'Male')
e2.domain('Management')
e2.employee_details()

Name:  John
Age:  32
Salary:  12000
Gender:  Male
Domain:  Management

In [ ]:
e3=Employee('Jessica', 26, 9000, 'Female')
e3.domain('HR')
e3.employee_details()

In [ ]:
'''
WAP to create a football 'Player' class. Define the constructor and it must take the name, age, ranking, position.
Create a function called 'Teams' which takes "Country", "Club" as input. 
Create a function called "Stats" which takes "matches", "Goals", "MOTM"
Create a function called "display" to display the above details.g

'''

# Inheritance in Python Class

In [ ]:
'''
With inheritance one class can derive the properties of another class.

#parent class
#child class


'''

In [14]:
#parent class
class Vehicle:
    def __init__(self, mileage, cost):
        self.mileage=mileage
        self.cost=cost
        
    def show_vehicle_details(self):
        print('Mileage: ', self.mileage)
        print('Cost: ', self.cost)
        print('I am a Vehicle Class')

In [15]:
v1=Vehicle(100, 5000)

In [16]:
v1.show_vehicle_details()

Mileage:  100
Cost:  5000
I am a Vehicle Class

In [ ]:
class Vehicle_two:
    def __init__(self, mileage, cost):
        self.mileage=mileage
        self.cost=cost

In [ ]:
v2=Vehicle_two(50, 2000)

In [ ]:
v2.show_vehicle_details()

In [18]:
#parent class
class Vehicle:
    def __init__(self, mileage, cost):
        self.mileage=mileage
        self.cost=cost
        
    def show_vehicle_details(self):
        '''
        This is from Parent class
        '''
        print('Mileage: ', self.mileage)
        print('Cost: ', self.cost)
        print('I am a Vehicle Class function')

In [19]:
# child class
class Car(Vehicle):
    def show_car_details(self):
        '''
        This is from child class
        '''
        print('I am a car and from child class car')

In [26]:
# c1=Car()

In [21]:
c1=Car(50, 6000)

In [23]:
type(c1)

__main__.Car

In [24]:
c1.show_vehicle_details()

Mileage:  50
Cost:  6000
I am a Vehicle Class function

In [25]:
c1.show_car_details()

I am a car and from child class car

# Multiple Inheritance in Python

In [27]:
class Parent1:
    def assign_string_one(self, str1):
        self.str1=str1
    def show_string_one(self):
        return self.str1

In [28]:
class Parent2:
    def assign_string_two(self, str2):
        self.str2=str2
    def show_string_two(self):
        return self.str2

In [29]:
class Child(Parent1, Parent2):
    def assign_string_three(self, str3):
        self.str3=str3
    def show_string_three(self):
        return self.str3

In [30]:
my_child=Child()

In [31]:
my_child.assign_string_one(' I am from parent 1')

In [32]:
my_child.assign_string_two(' I am from parent 2')

In [33]:
my_child.assign_string_three('I am from child')

In [34]:
my_child.show_string_one()

' I am from parent 1'

In [35]:
my_child.show_string_two()

' I am from parent 2'

In [36]:
my_child.show_string_three()

'I am from child'

In [37]:
class School:
    def student_details(self, s_name, s_age, s_stand, s_transport):
        self.s_name=s_name
        self.s_age=s_age
        self.s_stand=s_stand
        self.s_transport=s_transport
    def employee_details(self, e_name, e_age, e_subject, e_gender):
        self.e_name=e_name
        self.e_age=e_age
        self.e_subject=e_subject
        self.e_gender=e_gender

In [38]:
class Student(School):
    def show_student_basic_details(self):
        print('Name: ', self.s_name)
        print('Standard: ', self.s_stand)
    def show_student_confidential_deatil(self):
        print('Transport: ', self.s_transport)
        print('Age: ', self.s_age)

In [39]:
class Employee(School):
    def show_employee_details(self):
        print('Name: ', self.e_name)
        print('Subject: ', self.e_subject)

In [40]:
'''

an employee object
you have to fill the details as follows : 'Eienstein', 60, Physics, Male
print the Name and subject


'''

"\n\nan employee object\nyou have to fill the details as follows : 'Eienstein', 60, Physics, Male\nprint the Name and subject\n\n\n"

In [41]:
e1=Employee()

In [42]:
e1.employee_details('Eienstein', 60, 'Physics', 'Male') #parent class

In [43]:
e1.show_employee_details() #child class

Name:  Eienstein
Subject:  Physics

In [44]:
s1=Student()

In [45]:
s1.student_details('Bob', 25, 'High School', True) #parent class

In [46]:
s1.show_student_basic_details()

Name:  Bob
Standard:  High School

In [47]:
s1.show_student_confidential_deatil()

Transport:  True
Age:  25

In [48]:
s2=Student()
s2.student_details('Mira', 23, 'Graduate', False)

In [49]:
s2.show_student_basic_details()

Name:  Mira
Standard:  Graduate

In [ ]:
'''
WAP to create a class "Beverages", define a constructor (__init__) which takes the parameter as follows : 
'Name', 'Category', 'Taste', 'Quantity'. 

define a function 'components' which take input of calories and amount of sugar: 'Calories', 'Sugar'

create a function 'Beverages_Detail' and it shows the values(Name, Category, Taste,Quantity, Calories, Sugar) of the juices.

Create an inherited class 'Beverage_Classification' and it has a method which is classifying the beverages based 
on calories.
create a function 'classification_calories'

calories 0<=calorie<160 : Healthy
         160<= calorie <=200 :  Mild Healthy
         calories > 200 : Unhealthy


Create 3 objects and set the calories to 150,200, 300 respectively.

show the details of the beverage
classify the beverage using the 'Beverage_classification'


'''

In [ ]:
class Beverages:
    def __init__(self, name, category, taste, quantity):
        self.name=name
        self.category=category
        self.taste=taste
        self.quantity=quantity
    def components(self, calories, sugar ):
        self.calories=calories
        self.sugar=sugar
    def beverage_details(self):
        print('Name: ', self.name)
        print('category: ', self.category)
        print('taste: ', self.taste)
        print('quantity: ', self.quantity)
        print('calories: ', self.calories)
        print('sugar: ', self.sugar)

In [ ]:
class Beverage_Classification(Beverages):
    def classification_calories(self):
        
#         cal=self.calories
        
        if (0 <= self.calories < 160):
            print('Healthy Beverage')
        elif (160 <= self.calories <= 200):
            print('Mild healthy Beverage')
        else:
            print('Unhealthy Beverage')

In [ ]:
b1=Beverage_Classification('Orange Juice', 'Fruit Juice', 'Sweet-Sour', 300)

In [ ]:
b1.components(120, 0)

In [ ]:
b1.beverage_details()

In [ ]:
b1.classification_calories()

In [ ]:
#functions from parent class and object from child class
b2=Beverage_Classification('Virgin Mojito', 'Mocktails', 'Sweet-sour', 300)
b2.components(250, 50)
b2.beverage_details()

In [ ]:
#function from child  class
b2.classification_calories()

In [ ]:
b2.classification_sugar()

In [ ]:
s='[1,2,3,4,5]'

In [ ]:
type(s)

In [ ]:
l=eval(s)

In [ ]:
l

In [ ]:
type(l)

In [ ]:
'''
Travelling


WAP to create a class called 'Traveller' which have a constructor (__init__) and takes the following parameter:
name, country, age, source, destination

Create another class 'Transport' and create a method 'transport_details' which  takes the following parameter:
Type:(Train/bus/cab/flight), 'distance', 'Fare'. In another function 'show_transport_details' print the values


Create another class 'Stays' and create a method 'stay_details' which takes the following parameter:
stay_type: (Hotel/resort/hostel/villa), room_type: (1B/2B/Suite), star_rating, 'cost_per_night', 'Total_day_stay'
 In another function 'show_stay_details' print the values.
 
Create another class 'Food' and creata a method 'food_details' which takes the following parameter: (per day)
Cuisine: (Indian/Middle east/Italian/Chinese), AVG_Cost, Meals:


Create a CHILD CLASS which inherits the property of Traveller,  Transport and Stays class, food. 
Create a method 'Overall_expense' which Compute the overall expenses during the travelling and show.


When you are creating the object MAKE SURE THAT IT IS CREATED FOR CHILD CLASS.

'''

In [ ]:
#cLASS TRAVELLER parent1

class Traveller:
    def __init__(self,name,country,source,destination):
        
        self.name=name
        self.country=country
        self.source=source
        self.destination=destination
    def show_traveller_details(self):
        print('Name: ', self.name)
        print('country: ', self.country)
        print('source: ', self.source)
        print('destination: ', self.destination)

In [ ]:
#parent 2
class Transport:
    def transport_details(self,Type,distance,fare):
        self.Type=Type
        self.distance=distance
        self.fare=fare
    def show_transport_deatails(self): 
        print('Type:',self.Type)
        print('Distance:',self.distance)
        print('Fare:',self.fare)

In [ ]:
# parent 3
class Stays:
    def stay_details(self,stay_type,room_type,star_rating,cost_per_night,Total_day_stay):
        self.stay_type=stay_type
        self.room_type=room_type
        self.star_rating=star_rating
        self.cost_per_night=cost_per_night
        self.Total_day_stay=Total_day_stay
        
    def show_stay_details(self):
        print('Stay_type:',self.stay_type)
        print('Room_type:',self.room_type)
        print('Star_rating:',self.star_rating)
        print('Cost_per_night:',self.cost_per_night)
        print('Total_day_stay:',self.Total_day_stay)

In [ ]:
#parent 4
class Food:
    def food_details(self,Cuisine_per_day,AVG_cost,num_meal):
        
        self.Cuisine_per_day= Cuisine_per_day    
        self.AVG_cost=AVG_cost
        self.num_meal=num_meal
        
#         AVG_cost=(Cuisine_per_day*meal_price)/Cusine_per_day
#         print('AVG_Cost=',AVG_cost)
    def show_food_details(self):
        print('Cuisine: ', self.Cuisine_per_day)
        print('Avg cost per meal: ', self.AVG_cost)
        print('Number of meals: ', self.num_meal)

In [ ]:
#child class
class Total_traveller_cost(Traveller,Transport,Stays, Food):
    def Overall_expense(self):
        expense=self.fare + (self.cost_per_night * self.Total_day_stay) + (self.AVG_cost * self.num_meal *self.Total_day_stay)
        print('Overall expense: ', expense)

In [ ]:
t1=Total_traveller_cost('jhon','India','Tokyo','Delhi')
t1.show_traveller_details()

In [ ]:
t1.transport_details('Airways', 1500, 4000)
t1.show_transport_deatails()

In [ ]:
t1.stay_details('Hotel', '1BD', 4, 300, 5)
t1.show_stay_details()

In [ ]:
t1.food_details('Mexican', 150, 3) #4500 +2250= 6750
t1.show_food_details()

In [ ]:
t1.Overall_expense()

In [ ]:
'''
customer details
shop details
Bill
Discounts
Summary



'''

In [ ]:
d={'shoes':[10, 100],'Shirt':[15, 50]}

In [ ]:
d

In [ ]:
def inventory(self, d):
    s=0
    for i in d.keys():
      
        s=s+d[i][1]
    print(s)

In [ ]:
d={'shoes':[10, 100],'Shirt':[15, 50]}
inventory(d)

In [ ]:
d['shoes'][1]

In [ ]:
class Customer_Details:
    def __init__(self, name,age,gender,mobile):
        self.name=name
        self.age=age
        self.gender=gender
        self.mobile=mobile
        
class  Shop_Details:
    def basic_details(self, s_name, category, address, type_shop, area):
        self.s_name=s_name
        self.category=category
        self.address=address
        self.type_shop=type_shop
        self.area=area
    def inventory(self, d):
        self.d=d
        s=0
        for i in d.keys():

            s=s+d[i][1]
        print('Inventory cost', s)

class Billing:
    def bill_details(self, b):
        self.b=b
        sum_bill=0
        quantity=0
        for i in b.keys():
            quantity=quantity+b[i][0]
            sum_bill=sum_bill+b[i][1]
        print('Bill amount', sum_bill)
        
        
class Discount(Billing):
    def discount_details(self):
        if (sum_bill>=1000 and sum_bill<2000) or (quantity >=5 and quantity<10):
            total_bill=sum_bill*0.95
        elif sum_bill>2000 or quntity>10:
            total_bill=sum_bill*0.85
        else:
            total_bill=sum_bill
    def summary()

In [ ]:
'''
WAP to create the simulate the shopping experience with details as follow.

Create a class Customer_Details which have constructor (__init__) and it takes following parameter:
Name, Age, Gender, Mobile

Create a class Shop_Details which have different functions:
1) basic_details (Name, category, Address, Type, Area(sq ft))
2) inventory (inventory_dict: keys-name, value: [quantity, price per quantity]) calculate the inventory cost. print it as well.
minimum 4 items should be there



Creat a class 'Billing'
Define a function bill_details : it has a dictionary where keys are Item and value: [quantity, cost] 
cost must be fetched from the shop details. (quantity can be defined manually but cost can be fetched from the shop details)
print bill amount (total cost). minimum two items

Create a class 'Discount_Summary'

creat a method discount_given: if the bill amount is more 1000 then give the discount of 5% or if the quantity is more than 5 
then give the discount of 5%.
if the bill amount is more than 2000 or quantity is more than 15 then give discount of 15%. else no discount.
print the total bill amount
'Summary' which inherits the 'Customer_details','Shop_details', 'Billing', 'Discount' 
and print these values.

'''

In [ ]:
if (cost>1000 and cost<2000)  or (quantity>5 and quantity<15):
    cost=cost*0.95
elif(cost >= 2000 or quantity >= 15):
    cost=cost*0.85
else:
    cost=cost

In [ ]:
i_D={'Coffee':[10, 50], 'Bread':[20, 10], 'Banana':[12, 5]}

In [ ]:
i_D['Coffee'][1]

In [ ]:
b_D={'Coffee':[1,i_D['Coffee'][1]], 'Bread':[2, i_D['Bread'][1]]}

In [ ]:
b_D

In [ ]:
b_D['Bread']

In [ ]:
s=0
for i in b_D.keys():
    m=1
    for j in b_D[i]:
        m=m*j
    s=s+m

In [ ]:
s

In [ ]:
class customer_details:
    def __init__(self, name, age, gender, mobile):
        self.name=name
        self.age=age
        self.gender=gender
        self.mobile=mobile
    def show_customer_details(self):
        print('Name:',self.name)
        print('Age:',self.age)
        print('Gender:',self.gender)
        print('Mobile:',self.mpbile)
class shop_details:
    def shop_details(self, name, category, address, type, area(sq,ft))
        self.name=name
        self.category=category
        self.address=address
        self.type=type
        self.area=area
    def show_shop_details:
        print('Name:', self.name)
        print('category:', self.category)
        print('address:', self.address)
        print('type:', self.type)
        print('area:', self.area)
    def inventory(self,d):
        self.d=d
        s=0
        for i in d.keys():
            s=s+d[i][l]
            print(s)
class billing:
    def bill_deltails(self.b)
    self.b=b
    sum_bill=0
    for i in b.keys():
        s=s+b[i][l]

In [ ]:
class Super:
    def __init__(self):
        self._value1=100     #protected member
        self.__value2=200    #private member
    def display(self):
        print(self._value1)
        print(self.__value2)

In [ ]:
class Subclass(Super):
    def show(self):
        print(self._value1)
        print(self.__value2)

In [ ]:
ob1=Subclass()

In [ ]:
ob1.display()

In [ ]:
ob1.show()

In [ ]:
'''


Encapsulation is one of the fundamental concepts in object-oriented programming (OOP). 
It describes the idea of wrapping data and the methods that work on data within one unit. 
This puts restrictions on accessing variables and methods directly and can prevent the accidental modification of data. 
To prevent accidental change, 
an object’s variable can only be changed by an object’s method.


'''

In [ ]:
'''
The word polymorphism means having many forms. In programming, polymorphism means the same function name 
(but different signatures) being used for different types. 
The key difference is the data types and number of arguments used in function.



'''

In [ ]:
'''
Abstraction is used to hide the internal functionality of the function from the users. 
The users only interact with the basic implementation of the function, but inner working is hidden. 
User is familiar with that "what function does" but they don't know "how it does."

In Python, an abstraction is used to hide the irrelevant data/class in order to reduce the complexity. 
It also enhances the application efficiency. 


In Python, abstraction can be achieved by using abstract classes and interfaces.


Abstraction Classes
A class that consists of one or more abstract method is called the abstract class. 
Abstract methods do not contain their implementation. 
Abstract class can be inherited by the subclass and abstract method gets its definition in the subclass. 
Abstraction classes are meant to be the blueprint of the other class. 
An abstract class can be useful when we are designing large functions. 
An abstract class is also helpful to provide the standard interface for different implementations of components. 
Python provides the abc module to use the abstraction in the Python program. 

Python doesn't provide the abstract class itself. We need to import the abc module, 
which provides the base for defining Abstract Base classes (ABC). 
The ABC works by decorating methods of the base class as abstract. 
It registers concrete classes as the implementation of the abstract base.



'''

In [ ]:
from abc import ABC, abstractmethod   
class Car(ABC):   #abstract class 
    def mileage(self):   #abstract method
        pass

In [ ]:
class Tesla(Car):   
    def mileage(self):   
        print("The mileage is 30kmph")

In [ ]:
class Suzuki(Car):   
    def mileage(self):   
        print("The mileage is 25kmph ")   
class Duster(Car):   
     def mileage(self):   
        print("The mileage is 24kmph ")

In [ ]:
class Renault(Car):   
    def mileage(self):   
        print("The mileage is 27kmph ")

In [ ]:
t=Tesla ()   
t.mileage()

In [ ]:
  
r = Renault()   
r.mileage()

In [ ]:
  
s = Suzuki()   
s.mileage()   
d = Duster()   
d.mileage()

In [ ]:
from abc import ABC, abstractmethod
 
class Polygon(ABC):
 
    @abstractmethod
    def noofsides(self):
        pass
 
class Triangle(Polygon):
 
    # overriding abstract method
    def noofsides(self):
        print("I have 3 sides")
 
class Pentagon(Polygon):
 
    # overriding abstract method
    def noofsides(self):
        print("I have 5 sides")
 
class Hexagon(Polygon):
 
    # overriding abstract method
    def noofsides(self):
        print("I have 6 sides")
 
class Quadrilateral(Polygon):
 
    # overriding abstract method
    def noofsides(self):
        print("I have 4 sides")
 
# Driver code
R = Triangle()
R.noofsides()
 
K = Quadrilateral()
K.noofsides()
 
R = Pentagon()
R.noofsides()
 
K = Hexagon()
K.noofsides()

In [ ]:
class Traveller:
    def __init__(self, name, country, age, source, destination):
        self.name = name
        self.country = country
        self.age = age
        self.source = source
        self.destination = destination

    def show_travell_details(self):
        print('Name:', self.name)
        print('Country:', self.country)
        print('Age:', self.age)
        print('Source:', self.source)
        print('Destination:', self.destination)

In [ ]:
class Transport:
    def transport_detail(self,type, distance, fare):
        self.transport_type = type
        self.distance = distance
        self.fare = fare

    def show_transport_details(self):
        print('Transport type:', self.transport_type)
        print('Distance:', self.distance)
        print('Fare:', self.fare)

In [ ]:
class Stays:
    def stay_details(self, stay_type, room_type, star_rating, cost_per_night, total_day_stay):
        self.stay_type = stay_type
        self.room_type = room_type
        self.rating = star_rating
        self.cost_per_night = cost_per_night
        self.no_of_days = total_day_stay

    def show_stay_details(self):
        print('Stay Type:', self.stay_type)
        print('Room Type:', self.room_type)
        print('Rating:', self.rating)
        print('Cost Per Night:', self.cost_per_night)
        print('Number of days:', self.no_of_days)

In [ ]:
class Food:
    def food_details(self, cuisine, AVG_cost, meals):
        self.cuisine = cuisine
        self.average_cost = AVG_cost
        self.meals = meals

    def show_food_details(self):
        print('Cuisine:', self.cuisine)
        print('Average Cost:', self.average_cost)
        print('Meals Per Day:', self.meals)

In [ ]:
class Total_cost(Traveller, Transport, Stays, Food):
    def overall_expense(self):
        expense = self.fare + (self.cost_per_night * self.no_of_days) + (self.average_cost * self.meals * self.no_of_days)
        print('Total Cost:', expense)

In [ ]:
t1 = Total_cost('Jonny', 'Brazil', 26, 'Montana', 'Moscow')
t1.show_travell_details()

t1.transport_detail('Train', '350km', 550)
t1.show_transport_details()


t1.stay_details('Hotel', 'Single room', '3 star', 900, 5)
t1.show_stay_details()


t1.food_details('Middle East', 250, 3)
t1.show_food_details()

t1.overall_expense()

In [ ]:
out

In [ ]:
l1=[23,13,24,56,34,90]
l2=[22,34,55,64,34,22]
l3=[65,54,24,23,45,67]
l4=[89,78,76,11,14,54]
l5=[99,76,55,44,33,23]

out=[]
s1=0
for i in l1:
    s1=i+s1
out.append(s1)
    
s2=0
for i in l2:
    s2=i+s2

out.append(s2)
    
s3=0
for i in l3:
    s3=i+s3

out.append(s3)

s4=0
for i in l4:
    s4=i+s4

out.append(s4)

s5=0
for i in l5:
    s5=i+s5
    
out.append(s5)

In [ ]:
out