# Variable: A programmers perspective

You are free to decide the name of your variable but it is always a good practice if you are taking the variable name which is self-explanatory and meaningful. This will enhance the readability of your code.

In [ ]:
'''
a person Ram  Shyam have salary of 10000$ and expense of 2000$
and Shyam have salary of 20000$ and expenses are 3000$.

What is the total saving of the family at the end of month.


'''

In [1]:
a=10000
b=2000

c=20000
d=3000

e=(a+c)-(b+d)

e

25000

In [2]:
ram_salary=10000
ram_expenses=2000

sham_salary=20000
sham_expenses=3000

total_savings = (ram_salary+sham_salary)-(ram_expenses+sham_expenses)

In [3]:
print(total_savings)

25000

In [ ]:
#we cannot use the key words as variable names

In [ ]:
#alphanumeric characters '_' (underscore)

In [ ]:
#4 star hotel, revenue is 400, 5 star hotel revenue 500, 3 star hotel have revenue 200. 
#Find the total revenue of the city per day.

In [4]:
a=400
b=500
c=200

d=a+b+c

In [5]:
d

1100

In [6]:
#revenue generated by a 4 star hotel per day.
star_4_revenue=400

#revenue generated by a 5 star hotel per day.
star_5_revenue=500

#revenue generated by a 3 star hotel per day.
star_3_revenue=200

#Total revenue generated by these hotels.
revenue_per_day = star_3_revenue + star_4_revenue + star_5_revenue

In [ ]:
a=400
b=500
c=200

In [20]:
x,y = 5, 20

In [11]:
x,y,z ,m, n, o = 5, 10,15,25,40,48

In [17]:
o

48

In [10]:
y

10

In [18]:
star_5_revenue, star_4_revenue, star_3_revenue = 500, 400, 200

revenue_per_day = star_3_revenue + star_4_revenue + star_5_revenue

In [19]:
print(revenue_per_day)

1100

In [74]:
Ram_Salary = 400

SyntaxError: invalid syntax (<ipython-input-74-0b2e1ba92cd9>, line 1)

In [75]:
RS=ram_slary=10000

In [77]:
ram_slary

10000