## Conditional statements

Whenever you have to check the condition before doing some thing or if the conditions aresatisfied then your are doing A or if it is not satisfied then we have to do B. In that cases we are using the conditional statements.

In [ ]:
"""
SYNTAX:

if <Condition> :

     body of if

else:

     body of else


"If your condition in the 'if' statements return True then the body of if will be executed otherwise body of else will be executed"

"""

In [1]:
'''WAP to take the input of length and breadth of shape and check whether it is square or rectangle'''

'WAP to take the input of length and breadth of shape and check whether it is square or rectangle'

In [2]:
length = float(input("enter the length: "))
breadth =float(input( "enter the breadth: "))
if length == breadth :
    print("It is a square.")
else :
    print(" it is a rectangle.")

enter the length: 5
enter the breadth: 5
It is a square.

In [3]:
l=float(input("Enter the len: "))
b=float(input("Enter the bre: "))


if (l==b):
    print("Square")
    area= l * b
    print("area=", area)
else:
    print('Rectangle')
    area= l * b
    print("area=", area)

Enter the len: 15
Enter the bre: 15
Square
area= 225.0

In [ ]:
L= float(input("enter the length"))
B= float(input("enter the breath"))
if (L==B):
    print("given rectangle is a square")
else:
    print("given rectangle is not a square")
print("area=",L*B,'squareunits')

In [ ]:
#Syntax:

'''
if <condition(boolean output)> :
    <<< Body of if >>>
        



'''

In [ ]:
num=1
if num>2:
    print("number is greater than 2")
        
#print("This line always executes")

In [ ]:
num

In [ ]:
num=2

if (num>=2):
    print("number is greater than 2")
    
print("This line always executes")

In [ ]:
num=3

if (num>2):
    print("number is greater than 2")
else:
    print("Number is less than 2")
    
print("This line always executes")

In [ ]:
'''
WAP to find whether given number is EVEN or ODD


'''

In [8]:
n = int(input("enter the number: "))
if n%2==0 : 
    print ("even")
else :
    print ("odd")

enter the number: -7
odd

In [ ]:
n= int(input("enter the number: "))

In [ ]:
num=int(input("enter a number: "))

if num%2==0:
    print("number is even")
else:
    print("number is odd")

In [9]:
'''
WAP give chocolate to me for odd outcome of dice and I will give you for even outcome


'''

'\nWAP give chocolate to me for odd outcome of dice and I will give you for even outcome\n\n\n'

In [ ]:
num=int(input("enter the number "))

if num%2==0:
    print("even")
else:
    print("odd")

In [ ]:
n=6.5
n=int(6.5)

if n%2==0:
    print("number is even")
else:
    print("number is odd")

In [ ]:
n=int(input("enter a number: "))
if num%2==0:
    print("number is even")
else:
    print("number is odd")

In [ ]:
salary=float(input("please enter your salary: "))
Year_services=int(input("please enter year of service :"))
Bouns= salary*5/100
if (Year_services>=5):
    print("congratulations you take Bouns", Bouns)
    Month_salary= Bouns+salary
    print("the salary of the employee in this month is",Month_salary)
else:
    print("So sorry you don't have bouns this month, your salary is",salary)

In [ ]:
S=float(input("Enter your Salary: "))
E=float(input("Enter your Year of Experience: "))
B= S*0.05
w= B + S
if(E>=5):
    print("Your Bonus is: ",B,"Your salary is:",w)
else:
    print("your not eligible for bonus:",S)

In [ ]:
S=float(input("Enter the salary"))
Y=float(input("Enter the year of service"))
if (Y>=5):
    print("Yes, the given employee is getting bonus", 'bonus:',S*0.05, 'salary:', S*1.05)
else:
    print("No, the given employee is not getting the bonus", S)

In [ ]:
x=float(input("Enter the salary"))
y=float(input("Enter the year of service"))
if (y>=5):
    print("employee is eligible for bonus")
    bonus=x*0.05
    print("Bonus amount is", bonus)
    print("total salary = ", x+bonus)
else:
    print("employee is not eligible for bonus")
    print("total salary = ", x)

In [ ]:
'''

Qus: A company has decided to give bonus to 
those employee if his/her year of service is greater than or equal to 6,
bonus will be 15% of current salary.


1- Take the input of salary and year of service.
2- Find out whether the given employee is getting bonus or  not.
3- If an employee is getting bonus then what will be the bonus amount.
4- What is the salary of the employee in that month with bonus or without bonus.

'''

In [13]:
yos = float(input("enter year of service: "))
salary= float(input("enter salary: "))
if yos>=6 :
    bonus = (salary *15)/100
    new_salary= salary+ bonus
    print ("employee is eligible for bonus, bonus amount: ", bonus ,"new salary: ", new_salary)
else:
    print ( "no bonus, new salary : ", salary)

enter year of service: 5
enter salary: 100000
no bonus, new salary :  100000.0

In [6]:
# part 1
salary=float(input("Enter the salary: "))
service_year=float(input("Enter the year of service: "))

if service_year >= 6:
    print("employee is eligible for bonus")
    bonus=salary*0.15
    print(f"Bonus amount is {bonus}$")
    print("total salary = ", salary+bonus)
else:
    print("employee is not eligible for bonus")
    print("total salary = ", salary)

Enter the salary: 40000
Enter the year of service: 2
employee is not eligible for bonus
total salary =  40000.0

In [ ]:
x=51621
y=664451

In [ ]:
print(f'The value of x is {x} and value of y is {y}')

In [ ]:
salary = int(input("Enter Salary of employee"))
Year_of_Service = float(input("Enter year of service"))
Bonus = 0
if (Year_of_Service>5):
    print ("Bonus = ", 0.05*salary)
    Bonus = 0.05*salary
    print("Salary with Bonus", Bonus*salary )
    
else:
    print("Not Eligible")
    print("Salary with Bonus", salary )

In [ ]:
2+2==5

In [ ]:
0.1+0.2==0.3

In [ ]:
0.2+0.3==0.5

In [ ]:
salary = float(input("Enter the salary amount: "))
yearsService = float(input("Enter the year of service: "))
if yearsService >= 5:
    print("Service of the employee who is more than or equal 5 years is getting the extra 5% of the current salary~")
    print("This employee's salary with bonus: ", salary*1.05)
else:
    print("Service of the employee who is less than 5 years~")
    print("This employee's salary without bonus: ", salary)

In [ ]:
salary = int(input('Enter your salary :'))
salary=float(salary)
year= float(input('Enter year of service:'))
if year>=5:
    print('Bonus of 5%')
    print('Bonus amount',salary*0.05)
    print('The salary of this employee with bonus would be',salary*1.05)
    
else:
    print('No Bonus')
    print('The salary for this employee would be ', salary)

In [ ]:
salary=int(input("Enter the Salary: "))

year_of_service=float(input("Enter the year of service: "))

if (year_of_service >= 5):
    print("Employee is eligibile for bonus")
    
    print("Bonus amount is ", 0.05*salary )
    
else:
    print("Employee is not eligible for bonus.")

In [ ]:
'''


Qus: Take values of length and breadth of a rectangle from user and check if it is a square or not.
Find the area.

1: take the input len and breadth. (float)
2: Check if the length and b is equal or not.
3: Computing area.

'''

In [ ]:
l=float(input("Enter the len: "))

b=float(input("Enter the Breadth: "))

if (l==b):
    print("Given rectangle is square")
else:
    print("Given rectangle is not a square")
    
print("Area= ", l*b, "sq units")

In [ ]:
salary=float(input("enter the salary:"))
year=float(input("year of service:"))
if(year>=5):
    print("employees is elligible for bonus")
    print("bonus=",salary*0.05)
    print("total_salary=",salary+bonus)
else:
    print("sorry you are not elligible for the bonus")
    print("total_salary=",salary)

In [ ]:
'''
Qus3: Take two int values from the user and print the greatest among them.

1: Taking the two inputs from the user
2: Check which of them is greater.

'''

In [16]:
a= int(input("enter the fisrt num: "))
b= int (input("enter the second num: "))
if (a>b):
    print("a is greater")
elif (b>a):
    print("b is greater")
else: 
    print("a equals to b")

enter the fisrt num: 8
enter the second num: 7
a is greater

In [9]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
if(a>b):
    print('first number is greater')
    print(a)
else:
    print('second number is greater')
    print(b)

Enter first number: 5
Enter second number: 5
second number is greater
5

In [ ]:
5>5

In [ ]:
a=int(input('Enter the value of a: '))
b=int(input('Enter the value of b: '))
if (a>b):
    print("a is Greater than b")
else:
    print("b is greater than a")

In [ ]:
num1=int(input("enter the value of number1 "))
num2=int(input("enter the value of number2 "))
if(num1>num2):
    print("entered number 1 is greater", num1)
else:
    print("entered number 2 is greater", num2)

In [ ]:
A=int(input("The first user number"))
B=int(input("The second user number"))
if (A>B):
    print("first number is greater",A)
else:
    print("second number is greater",B)

In [12]:
a=int(input("a: "))

b=int(input("b: "))

if a>b:
    print('a is greater')
    
elif b>a:
    print('b is greater')

else:
    print('a is equal to b')

a: 5
b: 5
a is equal to b

In [ ]:
8>8

In [ ]:
x=int(input())


if x < 10 :
    print('x is less than 10')
elif 10 <= x < 20: 
    print('x is in range of 20s')

elif 20 <= x < 30:
    print('x is in range of 30s')

elif 30 <= x < 40:
    print('x is in range of 40s')
    
else:
    print(' x is greater than 40')

In [ ]:
first=int(input("First number: "))
second=int(input("Second number: "))

if (first > second):
    print("Greatest is first number ", first)
    
elif (second > first):
    print("Greatest is second number ", second)
    
else:
    print("Both numbers are equal ")

In [ ]:
A=int(input("Enter the num"))
B=int(input("enter the num"))
if(A>B):
    print("A is greater")
elif(B>A):
    print("B is greater")
else:
    print("A=B")

In [ ]:
'''

Qus4: A shop will give discount of 10% if the purchased quantity is more than 1000.
Ask user for quantity. Suppose one unit will cost 100$. Judge and print the total cost for user.


'''

In [19]:
quantity= int(input(" enter quantity: "))
if quantity>1000 :
    discount = quantity * 100 *0.1
    cost = (quantity*100) - discount
    print(" 10 % discount, total cost : ", cost, "$")
else: 
    print( " no discount, total cost: ", quantity*100,"$" )

 enter quantity: 1200
 10 % discount, total cost :  108000.0 $

In [ ]:
# discount=500*0.1
discount=50
cost=500*100
Total_cost= 500000 * 50

In [ ]:
quantity= int(input("Enter the quantity :"))
if (quantity>1000):
    discount= quantity*100*0.1
    cost= quantity*100
    Total_cost= cost-discount
    print("you deserve the discount 10%",Total_cost)
else:
    print("total amount", 100*quantity)

In [ ]:
productQty = int(input("The total number of product bought: "))
if(productQty > 1000):
    productPriceDiscount = productQty * 100 * 0.90
    print("The total product bought price with 10% discount: ", productPriceDiscount)
else:
    productPrice = productQty * 100
    print("The total product bought price: ", productPrice)

In [ ]:
print("Enter Quantity")
Quantity= float(input())
Price= 100
if Quantity> 1000:
    Price= Quantity*100*0.9
else:
    Price= Quantity* 100
print("Total Price:", Price)

In [ ]:
qty = int(input("Enter the quantity:"))
cp = 100
if(qty>1000):
    amount = qty *cp - (qty*cp*.1)
else:
    amount = qty*cp
print("Total Amount = ",amount)

In [ ]:
#kingsley

productQty = int(input("The total number of product bought: "))

if(productQty > 1000):
    
    productPriceDiscount = productQty * 100 * 0.90
    print("The total product bought price with 10% discount: ", productPriceDiscount)

elif (productQty==1 and productQty<=1000):
    productPrice = productQty * 100
    print("The total product bought price: ", productPrice)
    
else:
    print("Invalid number of product quantity")

In [ ]:
print("Enter Quantity")
Quantity= float(input())
Price= 100
if Quantity <0:
    print("Please enter correct quantity")
elif Quantity> 1000:
    Price= Quantity*100*0.9
    print("Total Price:", Price)
else:
    Price= Quantity* 100
    print("Total Price:", Price)

In [ ]:
Deepali = 100

John = 200

In [ ]:
vani=0


vani=100

Deepali=

In [ ]:
x=5
y=10

In [ ]:
temp=x
x=y
y=temp

In [ ]:
x

In [ ]:
y

In [ ]:
quantity = int(input("Enter the purchased quantity: "))

cost=quantity*100

if (quantity > 1000):
    print("you will get 10% discount")
    discount = cost*0.1
    print("discount amount is :",discount)
    print("total cost is :", cost-discount)
else:
    print("no discount")
    print("total cost is :", cost)

In [ ]:
quantity=int(input("Enter the quantity: "))

if (quantity*100 >= 1000):
    print("Customer is eligible for discount")
    print("Total cost", (quantity*100))
    print("Cost after discount: ", ((quantity*100)- (0.1*quantity*100)))
    
else:
    print("Customer is not eligible for discount")
    print("total cost: ", (quantity*100))

In [ ]:
print('Here is an Exciting offer! you will get 10% discount if your order value is more than 1000 rupees')

qty=int(input('How much quantity you required: '))
cost=qty*100
dis=qty*0.1

if qty>=1000:
    print('wow! you get a discount of 10%, your order value is:', cost-dis)
else:
    print('Your order value is:',cost)

In [ ]:
if (marks>=90 and marks<100):
    print('A')

In [ ]:
'''
Qus5:  Find the grades(0-100) take the input of the marks


90>= A
80 - 90 : B
70-80: C
60-70: D
else E

elif 80 <= marks < 90:
    print("B")


'''

marks=50

In [28]:
n =float(input("enter marks: "))
if 0<=n<=100: 
    
    if 100>=n>=90 :
        print("grade =A ")
    elif 80<=n<90 :
        print("b")
    elif 70<=n<80: 
        print("c")
    else:
        print("d")
else:
    print("invalid")

enter marks: -1
invalid

#

In [14]:
n=float(input('please enter your score: '))

if (n>=90 and n<=100):
    print("A")
elif (n>=80 and n<90):
    print("B")
elif (n>=70 and n<80):
    print('C')
elif (n>=60 and n<70):
    print("D")
else:
    print("E")

please enter your score: 100
A

In [ ]:
90<= n <=100

In [15]:
marks=float(input('enter your mark:'))

if (marks>90):
    print('grade is =S+')
    
elif (80<=marks<90):
    print('grade is =A+')
    
elif (70<=marks<80):
    print('grade is =A')
    
elif (60<=marks<70):
    print('grade is =B')
    
elif (50<=marks<60):
    print('grade is =C')
    
elif (40<=marks<50):
    print('grade is =D')
    
else:
    print('grade is =F')

enter your mark:65
grade is =B

In [ ]:
ask=float(input('what is your score?:'))
if ask>=90:
    print('S+')
elif ask >=80:
    print('A+')
elif ask>=70:
    print('A')
elif ask>=60:
    print('B')
elif ask >=50:
    print('C')
elif ask >= 40:
    print('D')
else:
    print('F')

In [20]:
mark=float(input("enter the mark: "))

if(90<=mark): 
    print('A')
elif(80<=mark<=90):
    print('B')
elif(70<=mark<=80):
    print('C')
elif(60<=mark<=100):
    print('D')
else:
    print('E')

enter the mark: 115
A

In [ ]:
Grades = int(input())

if (Grades>=90 and Grades<100):
    print('Your Grade is A')
elif (Grades>=80 and Grades<90):
    print("You got B Grade")
elif (Grades>=70 and Grades<80):
    print('You Got c Grade')
elif (Grades>=60 and Grades<70):
    print('You got D Grade')
else:
    print('You got E')

In [ ]:
marks=int(input("enter marks:"))

if (100>=marks>=90):
    print('A')
elif (80<=marks<90):
    print('B')
elif (70<=marks<80):
    print('C')
elif (60<=marks<70):
    print('D')
else:
    print('E')

In [ ]:
marks=int(input("enter marks:"))

if (100>=marks>=90):
    print('A')
elif (80<=marks<90):
    print('B')
elif (70<=marks<80):
    print('C')
elif (60<=marks<70):
    print('D')
elif (marks>=0 and marks<=100):
        print('E')
else:
    print('invalid')

In [ ]:
marks=int(input("Enter the marks: "))

if (marks >= 90):
    print('A')
elif (marks >= 80 and marks < 90):
    print('B')
elif (marks >= 70 and mark
      s < 80):
    print('C')
elif (marks >= 60 and marks < 70):
    print('D')
else:
    print('E')

In [ ]:
#Nested if statement: if inside if

In [ ]:
x='Hello'
x.lower()

In [ ]:
partner=input('Enter the partner availability: ')
partner=partner.lower()

if partner=='yes':
    weather=input('Enter the weather situation: ')
    if (weather=='clear'):
        print('Go on Date') 
    else:
        print('Weather is not good. Stay at home and have a video call')
else:
    print('So Sad !')

In [23]:
marks=float(input('enter your mark:'))

if (0<= marks <=100):
    if (90<=marks<=100):
        print('grade is =S+')  
    elif (80<=marks<90):
        print('grade is =A+') 
    elif (70<=marks<80):
        print('grade is =A')

    elif (60<=marks<70):
        print('grade is =B')

    elif (50<=marks<60):
        print('grade is =C')

    elif (40<=marks<50):
        print('grade is =D')

    else:
        print('grade is =F')
        
else:
    print('enter the valid marks')

enter your mark:115
enter the valid marks

In [ ]:
marks=int(input('enter your marks out of 100: '))
if 0<=marks<=100:
    if 90<=marks<=100:
        print('your grade is S+')
    elif 80<=marks<90:
        print('your grade is A+')
    elif 70<=marks<80:
        print('your grade is B+')
    else:
        print('fail')
else:
    print('invalid input')

In [ ]:
marks=int(input("Enter the marks: ")) #105
#nested if
if (marks >= 0 and marks <= 100):
    if (marks >= 90):
        print('A')
    elif (marks >= 80 and marks < 90):
        print('B')
    elif (marks >= 70 and marks < 80):
        print('C')
    elif (marks >= 60 and marks < 70):
        print('D')
    else:
        print('E')

else:
    if marks<0:
        print('Negative marks is not allowed')

    else: 
        print('maximum marks is 100 !!! Please enter correct value')

In [ ]:
marks=float(input("Please enter the marks"))
if (90<=marks<=100):
    print("your grade is A")
elif (80<=marks<90):
    print("your grade is B")
elif (70<=marks<80):
    printf("your grade is C")
elif (60<=marks<70):
    print("your grade is D")
else:
    print("your grade is E")

In [ ]:
Leap Year

In [ ]:
# Nested if statements: Nested 'if' only executes if the preveious 'if' statement is true.

In [ ]:
# 1: input marks greater than 100 ?

# 2: Marks less than 0.

In [ ]:
'''
Positive zero negative

'''

In [31]:
n = int(input("enter num"))
if n<0:
    print("negetive")
elif n>0 :
    print("positive")
    
else:
    print('Zero')

enter num-1
negetive

In [ ]:
num=int(input())

if num >= 0: #I am checking the number is negative or not
    if num == 0:
        print('Zero')
    else:
        print('Positive')
        
else:
    print('Negative')

In [ ]:
#Leap Year

In [32]:
1900/4

475.0

In [ ]:
1600/400

In [ ]:
1700/400

In [ ]:
1800/400

In [33]:
2016/400

5.04

In [ ]:
1600, 2000 2400 are leap year

In [ ]:
1900 % 4 == 0

In [ ]:
'''
Leap year : 

year is divisible by 4 ,then it is a leap year. (partially correct)

year%4=0

if it is a century year ... year%100 only year %400 
'''

In [36]:
n= int(input("enter year"))
if n%4==0 :
    if n%100 ==0:
        if n%400==0:
            print("century leap year")
        else: 
            print("No Leap year")
    else: 
        print("leap year")
else: 
    print("no leap year")

enter year2000
century leap year

In [41]:
n= int(input("enter year"))
if n%4==0: 
    if n%100 ==0 and n%400!=0:
                print(" no leap year")
    else: 
        print("Leap year")
    
else: 
    print("no leap year")

enter year1700
 no leap year

In [ ]:
year = int(input())

if year%400 == 0 :
      if year%100 != 100 and year%4 ==0 :
        print("it is a leap year")
else: 
    print("it is not leap year")

In [ ]:
2016%100 != 0

In [ ]:
year=int(input("enter the year"))
if (year%4==0):
    if (year%100!=0 or year%400==0):
            print("Given year is leap year")
else:
     print("Given year is not leap year")

In [ ]:
%

/

In [ ]:
10/2

In [ ]:
11%2

In [ ]:
1500
2015
2486
3240
6000

In [ ]:
yr = int(input("Enter a yr: "))
if (yr % 4) == 0:
    if (yr % 100) == 0:
        if (yr % 400) == 0:
            print("{0} is a leap year".format(yr))
        else:
            print("{0} is not a leap year".format(yr))
    else:
        print("{0} is a leap year".format(yr))
else:
    print("{0} is not a leap year".format(yr))

In [ ]:
2020

In [ ]:
year=int(input("enter the year"))


if(year%4==0) :
    if(year%100!=0 or year%400==0) :
        print("year is leap year")
    else :
        print("year is not a leap year")
else :      
    print("year is not leap year")

In [ ]:
year=int(input('Enter the year'))


if(year%4==0):
    if(year%100!=0 or year%400==0):
        print('Given year is a leap year')
    else:
        print('Given year is not leap year')
    
    
else:
    print('Given year is not a leap year')

In [ ]:
1900 / 100

In [ ]:
19 / 4

In [ ]:
1900 % 400

In [ ]:
2100%100

In [ ]:
2016

In [ ]:
0 != 0

In [ ]:
year=int(input())
if (((year % 400 == 0) or (year % 100 != 0)) and (year % 4 == 0)):
    print("Given year is Leap year")
else:
    print("Not a Leap year")

In [ ]:
0 != 0

In [ ]:
year = int(input("Enter a year: "))
if (year % 4) == 0:
    if (year % 100) == 0:
        if (year % 400) == 0:
            print("{0} is a leap year".format(year))
        else:
            print("{0} is not a leap year".format(year))
    else:
        print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

In [ ]:
yr=int(input("Enter the year:")) 
if (yr % 4 == 0):
    if (yr % 100 == 0):      
        if (yr % 400 == 0) :
            print("It is a leap year")
        else :
            print("It is not a leap year")
    else :
        print("It is a leap year")
else:
    print("It is not a leap year")

In [ ]:
2004
            400
1800,1900,2000,2100,2200 (4)

2000

In [ ]:
2100 %4

In [ ]:
2100 %100

In [ ]:
2100 % 400

In [ ]:
print('Input year')
year = int(input())
div4 = year%4
div100 = year%100
div400 = year%400
if (div4==0 and div100!=0) or (div4==0 and div400==0):
    print('Leap Year')
else:
    print('Not Leap Year')